<a href="https://colab.research.google.com/github/pacomm5/PLANTILLAS2/blob/main/CLUSTER%20KNN%20PRUEBA%20PASTILLAS2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# SUBIMOS PROVISIONALMENTE EL ARCHIVO A GOOGLE COLAB. 
# El archivo esta aquí C:\Users\FJMartin\OneDrive - JARMAUTO\Documentos\2018\POWER BI INFORMES\DATOS MAESTROS\MACHINE LEARNING
# y es Pastillas_clusterKNN.csv

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from google.colab import files # Para manejar los archivos y, por ejemplo, exportar a su navegador
import glob # Para manejar los archivos y, por ejemplo, exportar a su navegador
from google.colab import drive # Montar tu Google drive

In [3]:
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)

In [4]:
# Import Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [ ]:
dataset = pd.read_csv('/content/Pastillas_clusterKNN.csv', sep=";", decimal=",")

In [ ]:
dataset.head()

,Tall,Matricula,F_matriculacion,Pastillas_FechaCierre,Antigüedad_dias,Antigüedad_años,Km
0,2,7255KVN,15-2-19,29-4-22,1169.0,3.25,91369.0
1,6,6558JSN,9-9-16,29-4-22,2058.0,5.72,137785.0
2,1,5048HWT,7-4-14,29-4-22,2944.0,8.18,66390.0
3,1,9290KXS,25-6-19,29-4-22,1039.0,2.89,34623.0
4,1,9114KZH,31-7-19,29-4-22,1003.0,2.79,77995.0

In [ ]:
dataset["Tall"] = dataset["Tall"].astype(str)
dataset["Antigüedad_años"] = dataset["Antigüedad_años"].astype(float)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11307 entries, 0 to 11306
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Tall                   11307 non-null  object
 1   Matricula              11307 non-null  object
 2   F_matriculacion        11307 non-null  object
 3   Pastillas_FechaCierre  11307 non-null  object
 4   Antigüedad_dias        11307 non-null  float64
 5   Antigüedad_años        11307 non-null  float64
 6   Km                     11307 non-null  float64
dtypes: float64(3), object(4)
memory usage: 618.5+ KB