<a href="https://colab.research.google.com/github/pacomm5/PLANTILLAS2/blob/main/COHORT3_MIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
# EN ESTE EJERCICIO VOY A INTENTAR HACER TODO EN PYTHON.
# TRABAJO CON EL ARCHIVO U239_IMPORTADO QUE TENGO EN LA CARPETA DE MACHINE LEARNING. ESTA IMPORTADO DEL U239 ORIGINAL QUE TENGO EN MAESTRO

In [30]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [31]:
import pandas as pd

In [32]:


xlsx = pd.ExcelFile("/content/drive/MyDrive/Colab Notebooks/U239_IMPORTADO.xlsx") # ESTE EL NOMBRE DE LA RUTA. 
df = pd.read_excel(xlsx, "U239_IMPORTADO" ) # ESTE EL NOMBRE DE LA PESTAÑA. 
# he descargado el archivo en google drive para no tener que estar cargarlo cada vez que lo utilice.

In [33]:
pd.options.display.max_columns = 0 # con esto n olimitamos que se vean todas las columnas a lo ancho

In [34]:
df.head()

   Tall  Referencia   Fecha Fa   Fec.aper  ... MES   AÑO ESTANCIA ORDEN CORTA
0     6     7655783 2015-01-02 2014-11-11  ...   1  2015       52      765578
1     6     7655784 2015-01-02 2014-11-11  ...   1  2015       52      765578
2     6     7655785 2015-01-02 2014-11-11  ...   1  2015       52      765578
3     1     7683941 2015-01-02 2014-11-24  ...   1  2015       39      768394
4     2     7702661 2015-01-02 2014-12-30  ...   1  2015        3      770266

[5 rows x 22 columns]

In [35]:
df.columns

Index(['Tall', 'Referencia', 'Fecha Fa', 'Fec.aper', 'Cta.car',
       'Nombre cliente', 'Cta.tit', 'Nombre titular', 'Recamb.',
       'RECAMBIOS PVP', 'Tiem.fac', 'Total.MO', 'Modelo', 'Recep', 'Matricula',
       'Bastidor', 'Tipo O.R.', 'OR UNICA', 'MES', 'AÑO', 'ESTANCIA',
       'ORDEN CORTA'],
      dtype='object')

In [55]:
# voy a cambiar el nombre de algunas columnas. 
df.rename(columns={"Fecha Fa":"Fecha_Fact", "Fec.aper":"Fecha_Apertura", "Cta.car":"Cta_Cargo","Nombre cliente":"Nombre_Cliente", "Cta.tit":"Cta_Titular", "Nombre titular":"Nombre_Titular", 
                   "Recamb.":"Recamb", "RECAMBIOS PVP":"Recamb_Pvp", "Tiem.fac":"Tiemp_Fact", ""})

       Tall Referencia Fecha_Fact  ... ORDEN CORTA Fact_total Orden_Corta2
0         6    7655783 2015-01-02  ...      765578    1634.72       765578
1         6    7655784 2015-01-02  ...      765578      16.38       765578
2         6    7655785 2015-01-02  ...      765578     969.01       765578
3         1    7683941 2015-01-02  ...      768394    1760.67       768394
4         2    7702661 2015-01-02  ...      770266     197.45       770266
...     ...        ...        ...  ...         ...        ...          ...
287592    6   13839661 2022-06-29  ...     1383966      12.90      1383966
287593    6   13839731 2022-06-29  ...     1383973       7.15      1383973
287594    6   13841981 2022-06-29  ...     1384198     196.10      1384198
287595    1   13842591 2022-06-29  ...     1384259     513.80      1384259
287596    6   13842661 2022-06-29  ...     1384266     229.44      1384266

[283275 rows x 24 columns]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287597 entries, 0 to 287596
Data columns (total 22 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Tall            287597 non-null  int64
 1   Referencia      287597 non-null  int64
 2   Fecha Fa        273899 non-null  datetime64[ns]
 3   Fec.aper        287597 non-null  datetime64[ns]
 4   Cta.car         283357 non-null  object
 5   Nombre cliente  287596 non-null  object
 6   Cta.tit         287566 non-null  object
 7   Nombre titular  287565 non-null  object
 8   Recamb.         287597 non-null  float64
 9   RECAMBIOS PVP   287597 non-null  float64
 10  Tiem.fac        287592 non-null  float64
 11  Total.MO        287592 non-null  float64
 12  Modelo          286311 non-null  object
 13  Recep           287597 non-null  object
 14  Matricula       287597 non-null  object
 15  Bastidor        287557 non-null  object
 16  Tipo O.R.       287587 non-null  object
 17  OR UNICA        0 non-null       float64
 18  MES             287597 non-null  int64
 19  AÑO             287597 non-null  int64
 20  ESTANCIA        287597 non-null  int64
 21  ORDEN CORTA     287597 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(6), object(9)
memory usage: 48.3+ MB

In [37]:
# lo primero que voy a hacer es cambiar de tipo de datos. 
df["Tall"] = df["Tall"].apply(str)
df["Referencia"] = df["Referencia"].apply(str)
df["Cta.car"] = df["Cta.car"].apply(str)
df["OR UNICA"] = df["OR UNICA"].apply(str)
df["ORDEN CORTA"] = df["ORDEN CORTA"].apply(str)

In [38]:
df["Fact_total"] = df["Total.MO"] + df["Recamb."]

In [39]:
df.head()

  Tall Referencia   Fecha Fa   Fec.aper  ...   AÑO ESTANCIA ORDEN CORTA Fact_total
0    6    7655783 2015-01-02 2014-11-11  ...  2015       52      765578    1634.72
1    6    7655784 2015-01-02 2014-11-11  ...  2015       52      765578      16.38
2    6    7655785 2015-01-02 2014-11-11  ...  2015       52      765578     969.01
3    1    7683941 2015-01-02 2014-11-24  ...  2015       39      768394    1760.67
4    2    7702661 2015-01-02 2014-12-30  ...  2015        3      770266     197.45

[5 rows x 23 columns]

In [40]:
# de esta manera lo que hago es quitar el último digito de la variable referencia. 
# lo he hecho para probar como se hace. podría haberlo metido en otra variable y luego meterla en el dataframe para no eliminar información. 
df["Orden_Corta2"] = df.apply(lambda x: x["Referencia"][:-1], axis=1)

In [41]:
df.head()

  Tall Referencia   Fecha Fa  ... ORDEN CORTA Fact_total Orden_Corta2
0    6    7655783 2015-01-02  ...      765578    1634.72       765578
1    6    7655784 2015-01-02  ...      765578      16.38       765578
2    6    7655785 2015-01-02  ...      765578     969.01       765578
3    1    7683941 2015-01-02  ...      768394    1760.67       768394
4    2    7702661 2015-01-02  ...      770266     197.45       770266

[5 rows x 24 columns]

In [42]:
df.shape

(287597, 24)

In [43]:
df.isnull().sum() # como podemos veer debajo tenemos 13.698 filas sin fecha de facturación. estas las voy a quitar. Lo haremos mas adelante.

Tall                  0
Referencia            0
Fecha Fa          13698
Fec.aper              0
Cta.car               0
Nombre cliente        1
Cta.tit              31
Nombre titular       32
Recamb.               0
RECAMBIOS PVP         0
Tiem.fac              5
Total.MO              5
Modelo             1286
Recep                 0
Matricula             0
Bastidor             40
Tipo O.R.            10
OR UNICA              0
MES                   0
AÑO                   0
ESTANCIA              0
ORDEN CORTA           0
Fact_total            5
Orden_Corta2          0
dtype: int64

In [44]:
df.Orden_Corta2.nunique() # este es número total de ordenes cortas, por lo tanto de pasos.

188938

In [45]:
df.Bastidor.nunique() # tenemos 58.809 vehículos bastidores diferentes.

58809

In [46]:
df.Fact_total.describe() # aquí tenemos los estadísticos de facturación total. vemos valores negativos que serán los abonos.

count    287592.000000
mean        362.644278
std         872.600770
min      -32419.720000
25%          58.150000
50%         198.630000
75%         429.582500
max       32716.440000
Name: Fact_total, dtype: float64

In [50]:
df = df[df["Fact_total"]>=0] # quitamos todas las ordenes que sean negativas. 
df.shape

(283275, 24)

In [ ]:
print("la fecha va desde {} a {}".format(df.))