<a href="https://colab.research.google.com/github/pacomm5/PLANTILLAS2/blob/main/DATOS_VEHICULO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
xlsx = pd.ExcelFile("/content/IMP_BASE_PILOTO_2.xlsx")
df = pd.read_excel(xlsx, "IMP_BASE_PILOTO_2")

In [ ]:
df.shape

(410252, 22)

In [ ]:
df.columns

Index(['Cta.ti', 'Nombre titular', 'DNI/CIF', 'Movil', 'Teléfono', 'E-mail',
       'Bastidor', 'Matricula', 'F.matric', 'Mar', 'Dirección', 'C.P.',
       'Localidad', 'Marca/modelo', 'Cta.cargo', 'Nombre', 'DNI/CIF_1',
       'Fec.aper', 'F.cierre', 'Km', 'Número', 'ORDEN_CORTA'],
      dtype='object')

In [ ]:
# voy a cambiar el nombre de algunas columnas. 
df = df.rename(columns={"Cta.ti":"Cta_tit", "Nombre titular":"Nombre_titular", "DNI/CIF":"DNI_CIF","Teléfono":"Telefono", "E-mail":"Email", "F.matric":"Fech_matriculacion", 
                   "Dirección":"Direccion", "C.P.":"CP", "Marca/modelo":"Marca_modelo", "Cta.cargo":"Cta_cargo", "DNI/CIF_1":"DNI_CIF1", "Fec.aper": "Fech_apertura", "F.cierre":"Fech_cierre",
                   "Número":"Numero",  })

In [ ]:
df.columns

Index(['Cta_tit', 'Nombre_titular', 'DNI_CIF', 'Movil', 'Telefono', 'Email',
       'Bastidor', 'Matricula', 'Fech_matriculacion', 'Mar', 'Direccion', 'CP',
       'Localidad', 'Marca_modelo', 'Cta_cargo', 'Nombre', 'DNI_CIF1',
       'Fech_apertura', 'Fech_cierre', 'Km', 'Numero', 'ORDEN_CORTA'],
      dtype='object')

In [ ]:
df.isnull().sum()

Cta_tit                    9
Nombre_titular             0
DNI_CIF                    0
Movil                   1955
Telefono               23213
Email                      0
Bastidor                   0
Matricula                  0
Fech_matriculacion         4
Mar                        0
Direccion                  0
CP                       200
Localidad             117413
Marca_modelo               0
Cta_cargo             115808
Nombre                     0
DNI_CIF1                  37
Fech_apertura              0
Fech_cierre                0
Km                         0
Numero                     0
ORDEN_CORTA                0
dtype: int64

In [ ]:
df["Cta_tit"] = df["Cta_tit"].apply(str)
df["Nombre_titular"] = df["Nombre_titular"].apply(str)
df["DNI_CIF"] = df["DNI_CIF"].apply(str)
df["Movil"] = df["Movil"].apply(str)
df["Telefono"] = df["Telefono"].apply(str)
df["Bastidor"] = df["Bastidor"].apply(str)
df["Matricula"] = df["Matricula"].apply(str)
df["Fech_matriculacion"] = pd.to_datetime(df["Fech_matriculacion"])
df["Mar"] = df["Mar"].apply(str)
df["Direccion"] = df["Direccion"].apply(str)
df["CP"] = df["CP"].apply(str)
df["Localidad"] = df["Localidad"].apply(str)
df["Marca_modelo"] = df["Marca_modelo"].apply(str)
df["Cta_cargo"] = df["Cta_cargo"].apply(str)
df["Nombre"] = df["Nombre"].apply(str)
df["DNI_CIF1"] = df["DNI_CIF1"].apply(str)
df["Fech_apertura"] = pd.to_datetime(df["Fech_apertura"])
df["Fech_cierre"] = pd.to_datetime(df["Fech_cierre"])
df["Km"] = df["Km"].apply(int)
df["Numero"] = df["Numero"].apply(str)
df["ORDEN_CORTA"] = df["ORDEN_CORTA"].apply(str)

mas abajo lo he guardado en excel, que aunque tarda más en guardar y abrir, mantiene los formatos.

#GUARDADO

In [ ]:
"""df.to_csv("/content/drive/MyDrive/Colab Notebooks/datos_vehiculo")"""

In [ ]:
import pandas as pd
"""df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datos_vehiculo")"""

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410252 entries, 0 to 410251
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Cta_tit             410252 non-null  object
 1   Nombre_titular      410252 non-null  object
 2   DNI_CIF             410252 non-null  object
 3   Movil               410252 non-null  object
 4   Telefono            410252 non-null  object
 5   Email               410252 non-null  object
 6   Bastidor            410252 non-null  object
 7   Matricula           410252 non-null  object
 8   Fech_matriculacion  410248 non-null  datetime64[ns]
 9   Mar                 410252 non-null  object
 10  Direccion           410252 non-null  object
 11  CP                  410252 non-null  object
 12  Localidad           410252 non-null  object
 13  Marca_modelo        410252 non-null  object
 14  Cta_cargo           410252 non-null  object
 15  Nombre              410252 non-null  object
 16  DNI_CIF1            410252 non-null  object
 17  Fech_apertura       410252 non-null  datetime64[ns]
 18  Fech_cierre         410252 non-null  datetime64[ns]
 19  Km                  410252 non-null  int64
 20  Numero              410252 non-null  object
 21  ORDEN_CORTA         410252 non-null  object
dtypes: datetime64[ns](3), int64(1), object(18)
memory usage: 68.9+ MB

In [ ]:
df = df.drop(['Unnamed: 0'], axis=1)

In [ ]:
# for data manipulation and analysis
import pandas as pd
import numpy as np

# for plotting
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
sns.set_style('darkgrid')

# Silhouette analysis
from sklearn.metrics import silhouette_score

# To perform KMeans clustering 
from sklearn.cluster import KMeans

# for scaling
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df["Cta_tit"] = df["Cta_tit"].apply(str)
df["Nombre_titular"] = df["Nombre_titular"].apply(str)
df["DNI_CIF"] = df["DNI_CIF"].apply(str)
df["Movil"] = df["Movil"].apply(str)
df["Telefono"] = df["Telefono"].apply(str)
df["Bastidor"] = df["Bastidor"].apply(str)
df["Matricula"] = df["Matricula"].apply(str)
df["Fech_matriculacion"] = pd.to_datetime(df["Fech_matriculacion"])
df["Mar"] = df["Mar"].apply(str)
df["Direccion"] = df["Direccion"].apply(str)
df["CP"] = df["CP"].apply(str)
df["Localidad"] = df["Localidad"].apply(str)
df["Marca_modelo"] = df["Marca_modelo"].apply(str)
df["Cta_cargo"] = df["Cta_cargo"].apply(str)
df["Nombre"] = df["Nombre"].apply(str)
df["DNI_CIF1"] = df["DNI_CIF1"].apply(str)
df["Fech_apertura"] = pd.to_datetime(df["Fech_apertura"])
df["Fech_cierre"] = pd.to_datetime(df["Fech_cierre"])
df["Km"] = df["Km"].apply(int)
df["Numero"] = df["Numero"].apply(str)

# AQUI EMPIEZO A HACER TODOS LOS CALCULOS QUE ME INTERESAN

In [ ]:
pd.options.display.max_columns = 0

In [ ]:
df.head(10)

   Cta_tit           Nombre_titular    DNI_CIF  ...     Km   Numero ORDEN_CORTA
0  28013.0              JARMAUTO SA  A78483294  ...     13  8382570      838257
1  28013.0              JARMAUTO SA  A78483294  ...     13  8382570      838257
2  28013.0              JARMAUTO SA  A78483294  ...     13  8382700      838270
3  28013.0              JARMAUTO SA  A78483294  ...     13  8382700      838270
4  28013.0              JARMAUTO SA  A78483294  ...     13  8382700      838270
5  28013.0              JARMAUTO SA  A78483294  ...     13  8382700      838270
6  98907.0  PRUNEDA PUERTAS ROBERTO  20255784Y  ...  57026  8383840      838384
7  28013.0              JARMAUTO SA  A78483294  ...     13  8384520      838452
8  28013.0              JARMAUTO SA  A78483294  ...     13  8384520      838452
9  28013.0              JARMAUTO SA  A78483294  ...     13  8384520      838452

[10 rows x 22 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410252 entries, 0 to 410251
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Cta_tit             410252 non-null  object
 1   Nombre_titular      410252 non-null  object
 2   DNI_CIF             410252 non-null  object
 3   Movil               410252 non-null  object
 4   Telefono            410252 non-null  object
 5   Email               410252 non-null  object
 6   Bastidor            410252 non-null  object
 7   Matricula           410252 non-null  object
 8   Fech_matriculacion  410248 non-null  datetime64[ns]
 9   Mar                 410252 non-null  object
 10  Direccion           410252 non-null  object
 11  CP                  410252 non-null  object
 12  Localidad           410252 non-null  object
 13  Marca_modelo        410252 non-null  object
 14  Cta_cargo           410252 non-null  object
 15  Nombre              410252 non-null  object
 16  DNI_CIF1            410252 non-null  object
 17  Fech_apertura       410252 non-null  datetime64[ns]
 18  Fech_cierre         410252 non-null  datetime64[ns]
 19  Km                  410252 non-null  int64
 20  Numero              410252 non-null  object
 21  ORDEN_CORTA         410252 non-null  object
dtypes: datetime64[ns](3), int64(1), object(18)
memory usage: 68.9+ MB

In [ ]:
df.shape

(410252, 22)

In [ ]:
# voy a mater la fecha máxima de y mínima de visita. 
df['Fech_primera_visita'] = df['Fech_cierre']
df['Fech_ultima_visita'] = df['Fech_cierre']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410252 entries, 0 to 410251
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Cta_tit              410252 non-null  object
 1   Nombre_titular       410252 non-null  object
 2   DNI_CIF              410252 non-null  object
 3   Movil                410252 non-null  object
 4   Telefono             410252 non-null  object
 5   Email                410252 non-null  object
 6   Bastidor             410252 non-null  object
 7   Matricula            410252 non-null  object
 8   Fech_matriculacion   410248 non-null  datetime64[ns]
 9   Mar                  410252 non-null  object
 10  Direccion            410252 non-null  object
 11  CP                   410252 non-null  object
 12  Localidad            410252 non-null  object
 13  Marca_modelo         410252 non-null  object
 14  Cta_cargo            410252 non-null  object
 15  Nombre               410252 non-null  object
 16  DNI_CIF1             410252 non-null  object
 17  Fech_apertura        410252 non-null  datetime64[ns]
 18  Fech_cierre          410252 non-null  datetime64[ns]
 19  Km                   410252 non-null  int64
 20  Numero               410252 non-null  object
 21  ORDEN_CORTA          410252 non-null  object
 22  Fech_primera_visita  410252 non-null  datetime64[ns]
 23  Fech_ultima_visita   410252 non-null  datetime64[ns]
dtypes: datetime64[ns](5), int64(1), object(18)
memory usage: 75.1+ MB

In [ ]:
"""df['Fech_primera_visita'] = pd.to_datetime(df["Fech.primera_visita"]) """
df['Fech_primera_visita'] = df.groupby('Bastidor')['Fech_primera_visita'].transform('min') # aqui saca la primera compra. 
df['Fech_ultima_visita'] = df.groupby('Bastidor')['Fech_ultima_visita'].transform('max') # aqui saca la primera compra.

In [ ]:
df["Dif_ult_prim_visita"] = df["Fech_ultima_visita"] - df["Fech_primera_visita"]

In [ ]:
import datetime
df["Dif_ult_prim_visita"] = df.Dif_ult_prim_visita.dt.days

In [ ]:
df["Dif_ult_prim_visita"] / 10 # esto es una prueba para saber si deja dividir un datetime estre un scalar.

0         273.7
1         273.7
2         273.7
3         273.7
4         273.7
          ...
410247    118.5
410248    230.4
410249    230.4
410250    230.4
410251    230.4
Name: Dif_ult_prim_visita, Length: 410252, dtype: float64

In [ ]:
60000 / df["Dif_ult_prim_visita"] # como lo he conveertido todo a días arriba me permite hacerlo.

0         21.921812
1         21.921812
2         21.921812
3         21.921812
4         21.921812
            ...
410247    50.632911
410248    26.041667
410249    26.041667
410250    26.041667
410251    26.041667
Name: Dif_ult_prim_visita, Length: 410252, dtype: float64

In [ ]:
df.head(10)

   Cta_tit           Nombre_titular  ... Fech_ultima_visita Dif_ult_prim_visita
0  28013.0              JARMAUTO SA  ...         2022-07-29                2737
1  28013.0              JARMAUTO SA  ...         2022-07-29                2737
2  28013.0              JARMAUTO SA  ...         2022-07-29                2737
3  28013.0              JARMAUTO SA  ...         2022-07-29                2737
4  28013.0              JARMAUTO SA  ...         2022-07-29                2737
5  28013.0              JARMAUTO SA  ...         2022-07-29                2737
6  98907.0  PRUNEDA PUERTAS ROBERTO  ...         2016-08-19                 438
7  28013.0              JARMAUTO SA  ...         2022-07-29                2737
8  28013.0              JARMAUTO SA  ...         2022-07-29                2737
9  28013.0              JARMAUTO SA  ...         2022-07-29                2737

[10 rows x 25 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410252 entries, 0 to 410251
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Cta_tit              410252 non-null  object
 1   Nombre_titular       410252 non-null  object
 2   DNI_CIF              410252 non-null  object
 3   Movil                410252 non-null  object
 4   Telefono             410252 non-null  object
 5   Email                410252 non-null  object
 6   Bastidor             410252 non-null  object
 7   Matricula            410252 non-null  object
 8   Fech_matriculacion   410248 non-null  datetime64[ns]
 9   Mar                  410252 non-null  object
 10  Direccion            410252 non-null  object
 11  CP                   410252 non-null  object
 12  Localidad            410252 non-null  object
 13  Marca_modelo         410252 non-null  object
 14  Cta_cargo            410252 non-null  object
 15  Nombre               410252 non-null  object
 16  DNI_CIF1             410252 non-null  object
 17  Fech_apertura        410252 non-null  datetime64[ns]
 18  Fech_cierre          410252 non-null  datetime64[ns]
 19  Km                   410252 non-null  int64
 20  Numero               410252 non-null  object
 21  ORDEN_CORTA          410252 non-null  object
 22  Fech_primera_visita  410252 non-null  datetime64[ns]
 23  Fech_ultima_visita   410252 non-null  datetime64[ns]
 24  Dif_ult_prim_visita  410252 non-null  int64
dtypes: datetime64[ns](5), int64(2), object(18)
memory usage: 78.2+ MB

Ya tengo la fecha max la fecha min, la diferencia entre ambas, y ahora lo que tengo que hacer es lo mismo pero con los km.
cuando tenga este dato dividiré la diferencia entre km entre la diferencia entre fechas y será el resultado de los km que hace al día.

In [ ]:
df["Km_iniciales"] = df.groupby("Bastidor")["Km"].transform("min") # aqui saco los km iniciales
df["Km_finales"] = df.groupby("Bastidor")["Km"].transform("max") # aqui saco los km de la ultima orden. 
df["Dif_km_ini_final"] = df["Km_finales"] - df["Km_iniciales"] # aqui la diferencia. 
df["Km_por_mes"] = df["Dif_km_ini_final"] / df["Dif_ult_prim_visita"] * 30
df["Km_por_año"] = df["Km_por_mes"] * 12

In [ ]:
df["Veh_edad_fech_cierre"] = df["Fech_cierre"] - df["Fech_matriculacion"]
df["Veh_edad_fech_cierre"] = df.Veh_edad_fech_cierre.dt.days
df["Veh_edad_fech_cierre"] = df["Veh_edad_fech_cierre"] / 360

In [ ]:
from datetime import date
df["Fech_hoy"] = date.today()
df["Fech_hoy"] = pd.to_datetime(df["Fech_hoy"])

In [ ]:
df["Veh_edad_actual"] = df["Fech_hoy"] - df["Fech_matriculacion"]
df["Veh_edad_actual"] = df.Veh_edad_actual.dt.days
df["Veh_edad_actual"] = df["Veh_edad_actual"] / 360
df["Km_probables_actuales"] = df["Veh_edad_actual"] * df["Km_por_año"]

In [ ]:
df.tail(10)

         Cta_tit         Nombre_titular  ... Veh_edad_actual Km_probables_actuales
410242    2291.0  VOLKSWAGEN RENTING SA  ...        2.661111          61455.016465
410243    2291.0  VOLKSWAGEN RENTING SA  ...        2.661111          61455.016465
410244  130993.0   RODRIGO RIVERA ANGEL  ...        1.802778          27551.941704
410245    2291.0  VOLKSWAGEN RENTING SA  ...        1.802778          91195.526699
410246    2291.0  VOLKSWAGEN RENTING SA  ...        1.802778          91195.526699
410247  158142.0   BENAYAS GARCIA OSCAR  ...        3.377778          79553.080169
410248  146739.0      Juan Ramón Garcia  ...       11.761111         159456.776910
410249  146739.0      Juan Ramón Garcia  ...       11.761111         159456.776910
410250  146739.0      Juan Ramón Garcia  ...       11.761111         159456.776910
410251       nan      Juan Ramón Garcia  ...       11.761111         159456.776910

[10 rows x 34 columns]

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# GUARDADO

In [ ]:
import pandas as pd

In [ ]:
df.to_excel("/content/drive/MyDrive/Colab Notebooks/datos_vehiculo.xlsx")

In [ ]:
xlsx = pd.ExcelFile("/content/drive/MyDrive/Colab Notebooks/datos_vehiculo.xlsx")
df = pd.read_excel(xlsx)

In [ ]:
df.info() # veo que guarda los formatos (no todos) en excel sin embargo la columna unnamed vuelve a generarla al importardo. 
# creo que el motivo es por guardarlo si quitar el index.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410252 entries, 0 to 410251
Data columns (total 35 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             410252 non-null  int64
 1   Cta_tit                410243 non-null  float64
 2   Nombre_titular         410252 non-null  object
 3   DNI_CIF                410252 non-null  object
 4   Movil                  408297 non-null  float64
 5   Telefono               387039 non-null  float64
 6   Email                  410252 non-null  object
 7   Bastidor               410252 non-null  object
 8   Matricula              410252 non-null  object
 9   Fech_matriculacion     410248 non-null  datetime64[ns]
 10  Mar                    410252 non-null  object
 11  Direccion              410252 non-null  object
 12  CP                     410052 non-null  float64
 13  Localidad              292839 non-null  object
 14  Marca_modelo           410252 non-null  object
 15  Cta_cargo              294444 non-null  object
 16  Nombre                 410252 non-null  object
 17  DNI_CIF1               410215 non-null  object
 18  Fech_apertura          410252 non-null  datetime64[ns]
 19  Fech_cierre            410252 non-null  datetime64[ns]
 20  Km                     410252 non-null  int64
 21  Numero                 410252 non-null  int64
 22  ORDEN_CORTA            410252 non-null  int64
 23  Fech_primera_visita    410252 non-null  datetime64[ns]
 24  Fech_ultima_visita     410252 non-null  datetime64[ns]
 25  Dif_ult_prim_visita    410252 non-null  int64
 26  Km_iniciales           410252 non-null  int64
 27  Km_finales             410252 non-null  int64
 28  Dif_km_ini_final       410252 non-null  int64
 29  Km_por_mes             379069 non-null  float64
 30  Km_por_año             379069 non-null  float64
 31  Veh_edad_fech_cierre   410248 non-null  float64
 32  Fech_hoy               410252 non-null  datetime64[ns]
 33  Veh_edad_actual        410248 non-null  float64
 34  Km_probables_actuales  379065 non-null  float64
dtypes: datetime64[ns](6), float64(9), int64(8), object(12)
memory usage: 109.5+ MB

In [ ]:
df["Cta_tit"] = df["Cta_tit"].apply(str)
df["Nombre_titular"] = df["Nombre_titular"].apply(str)
df["DNI_CIF"] = df["DNI_CIF"].apply(str)
df["Movil"] = df["Movil"].apply(str)
df["Telefono"] = df["Telefono"].apply(str)
df["Bastidor"] = df["Bastidor"].apply(str)
df["Matricula"] = df["Matricula"].apply(str)
df["Fech_matriculacion"] = pd.to_datetime(df["Fech_matriculacion"])
df["Mar"] = df["Mar"].apply(str)
df["Direccion"] = df["Direccion"].apply(str)
df["CP"] = df["CP"].apply(str)
df["Localidad"] = df["Localidad"].apply(str)
df["Marca_modelo"] = df["Marca_modelo"].apply(str)
df["Cta_cargo"] = df["Cta_cargo"].apply(str)
df["Nombre"] = df["Nombre"].apply(str)
df["DNI_CIF1"] = df["DNI_CIF1"].apply(str)
df["Fech_apertura"] = pd.to_datetime(df["Fech_apertura"])
df["Fech_cierre"] = pd.to_datetime(df["Fech_cierre"])
df["Km"] = df["Km"].apply(int)
df["Numero"] = df["Numero"].apply(str)
df["ORDEN_CORTA"] = df["ORDEN_CORTA"].apply(str)

# AHORA ME VOY A QUEDAR CON LOS BASTIDORES UNICOS Y LOS DATOS IMPORTANTES.

In [ ]:
df_unicos = df.copy()

In [ ]:
df_unicos.columns

Index(['Unnamed: 0', 'Cta_tit', 'Nombre_titular', 'DNI_CIF', 'Movil',
       'Telefono', 'Email', 'Bastidor', 'Matricula', 'Fech_matriculacion',
       'Mar', 'Direccion', 'CP', 'Localidad', 'Marca_modelo', 'Cta_cargo',
       'Nombre', 'DNI_CIF1', 'Fech_apertura', 'Fech_cierre', 'Km', 'Numero',
       'ORDEN_CORTA', 'Fech_primera_visita', 'Fech_ultima_visita',
       'Dif_ult_prim_visita', 'Km_iniciales', 'Km_finales', 'Dif_km_ini_final',
       'Km_por_mes', 'Km_por_año', 'Veh_edad_fech_cierre', 'Fech_hoy',
       'Veh_edad_actual', 'Km_probables_actuales'],
      dtype='object')

In [ ]:
"""# PRIMERO NOS QUEDAMOS CON LAS COLUMNAS QUE NOS INTERESAN
mis_columnas = ["Bastidor", "Matricula", "Fech_matriculacion", "Mar", "Km_finales", "Fech_ultima_visita", "Km_por_mes", "Km_por_año", "Veh_edad_actual", "Km_probables_actuales", "Fech_cierre"]"""

In [ ]:
"""
df_unicos[mis_columnas]"""

In [ ]:
"""df["Km_probables_actuales"] = df["Km_probables_actuales"].apply(float, 0)"""

In [ ]:
pd.options.display.float_format = '{:.0f}'.format
# con esto en teoría cambio el numero cientifico en numero normal. No se si solo lo hace en el visual, o también en los datos.

In [ ]:
"""df_unicos[mis_columnas]"""

In [ ]:
df_unicos = df_unicos.sort_values("Fech_cierre", ascending=False)
# aqui estoy ordenando por fecha descendente, entiendo que si ahora quito duplicados es posible que me quede bien.

In [ ]:
df_without_duplicates = df_unicos.drop_duplicates(subset=["Bastidor"])

In [ ]:
df_without_duplicates # tengo que observar esto si lo ha hecho bien.

,Unnamed: 0,Cta_tit,Nombre_titular,DNI_CIF,Movil,Telefono,Email,Bastidor,Matricula,Fech_matriculacion,...,Dif_ult_prim_visita,Km_iniciales,Km_finales,Dif_km_ini_final,Km_por_mes,Km_por_año,Veh_edad_fech_cierre,Fech_hoy,Veh_edad_actual,Km_probables_actuales
405696,405696,160313.0,BACIU NICOLAE ALIN,X4196456Z,626822979.0,616663577.0,ALIN.BACIU@YAHOO.ES,WVWZZZ1KZ9P439915,3733GNL,2009-07-21,...,1260,249151,281117,31966,761,9133,13,2022-08-01,13,120735
405814,405814,104610.0,OTERO DEL AGUILA LORETO,50849326Y,620243437.0,620243437.0,LORETOOA@STRADIVARIUS.ES,WAUZZZ8P2AA054198,4049GTS,2010-02-26,...,2549,84047,233140,149093,1755,21057,13,2022-08-01,13,265490
405816,405816,198653.0,GOMEZ BARREDA GARCIA RICARDO J,13729184R,629152234.0,629152234.0,ricardo.gomez@garrigues.com,WAUZZZ8KXBA152644,1358HDT,2011-06-13,...,115,233883,244258,10375,2707,32478,11,2022-08-01,11,366914
405817,405817,55093.0,PEREZ-ARDA PRECIOSO ELISABETA,02671874X,649837639.0,649837639.0,ELISABETAPEREZARDA@GMAIL.COM,WAUZZZ8V6EA094174,1881HWD,2014-03-13,...,2282,13425,49574,36149,475,5703,8,2022-08-01,9,48521
405818,405818,2291.0,VOLKSWAGEN RENTING SA,A80185051,649837639.0,616003858.0,zona1@vwfs.com1,WAUZZZFY8M2028036,4300LMS,2021-02-22,...,0,32011,32011,0,NaN,NaN,1,2022-08-01,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48354,48354,126338.0,CORDERO HERNANDEZ M ISABEL,08035851L,610532899.0,686351102.0,safirabel@hotamil.com,WVGZZZ7LZ7D065443,8394FLK,2007-02-21,...,0,106665,106665,0,NaN,NaN,8,2022-08-01,16,NaN
48367,48367,127.0,GARRIDO FUENTES ENCARNACION,00380742T,666209529.0,666209529.0,ENCARNACIONGARRIDO@COFT.COM,WVWZZZAUZFW188415,0086JBZ,2014-12-30,...,0,4,4,0,NaN,NaN,0,2022-08-01,8,NaN
48324,48324,130849.0,SANZ LOPEZ ALBERTO,50114160N,639445188.0,667440377.0,NOUSA@,WVWZZZ3CZ6E037217,4570DLR,2005-06-14,...,0,135873,135873,0,NaN,NaN,10,2022-08-01,17,NaN
48333,48333,112500.0,LASPIUR TAILLADE CAROLINA,50835070X,696980376.0,696980376.0,carlona.laspiur@gruposegur.com,WVWZZZ1FZ8V021737,3682GPB,2009-08-11,...,0,95964,95964,0,NaN,NaN,5,2022-08-01,13,NaN
48344,48344,104188.0,PARRA TOLEDO MATILDE,01916475T,615905408.0,615905408.0,MAPARRA@GRUPOSANTANDER.COM,WVWZZZ9NZ5Y069802,4873DCS,2004-11-19,...,0,121554,121554,0,NaN,NaN,10,2022-08-01,18,NaN

In [ ]:
df_without_duplicates.columns

Index(['Unnamed: 0', 'Cta_tit', 'Nombre_titular', 'DNI_CIF', 'Movil',
       'Telefono', 'Email', 'Bastidor', 'Matricula', 'Fech_matriculacion',
       'Mar', 'Direccion', 'CP', 'Localidad', 'Marca_modelo', 'Cta_cargo',
       'Nombre', 'DNI_CIF1', 'Fech_apertura', 'Fech_cierre', 'Km', 'Numero',
       'ORDEN_CORTA', 'Fech_primera_visita', 'Fech_ultima_visita',
       'Dif_ult_prim_visita', 'Km_iniciales', 'Km_finales', 'Dif_km_ini_final',
       'Km_por_mes', 'Km_por_año', 'Veh_edad_fech_cierre', 'Fech_hoy',
       'Veh_edad_actual', 'Km_probables_actuales'],
      dtype='object')

In [ ]:
df_without_duplicates = df_without_duplicates.drop(["Unnamed: 0"], axis=1)

In [ ]:
df_without_duplicates["Cta_tit"] = df_without_duplicates.apply(lambda x: x["Cta_tit"][:-2], axis=1)
df_without_duplicates["Telefono"] = df_without_duplicates.apply(lambda x: x["Telefono"][:-2], axis=1)
df_without_duplicates["CP"] = df_without_duplicates.apply(lambda x: x["CP"][:-2], axis=1)

In [ ]:
pd.options.display.max_columns = 0

In [ ]:
df_without_duplicates.head(2)

       Cta_tit           Nombre_titular  ... Veh_edad_actual Km_probables_actuales
405696  160313       BACIU NICOLAE ALIN  ...              13                120735
405814  104610  OTERO DEL AGUILA LORETO  ...              13                265490

[2 rows x 34 columns]

#*AQUI TENGO EL ARCHIVO GUARDADO

In [ ]:
df_without_duplicates.to_excel("/content/drive/MyDrive/Colab Notebooks/Datos_vehiculos_unicos.xlsx", index=False)