<a href="https://colab.research.google.com/github/pacomm5/PLANTILLAS2/blob/main/DATOS_VEHICULO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
xlsx = pd.ExcelFile("/content/IMP_BASE_PILOTO_2.xlsx")
df = pd.read_excel(xlsx, "IMP_BASE_PILOTO_2")

In [3]:
df.shape

(405662, 22)

In [4]:
df.columns

Index(['Cta.ti', 'Nombre titular', 'DNI/CIF', 'Movil', 'Teléfono', 'E-mail',
       'Bastidor', 'Matricula', 'F.matric', 'Mar', 'Dirección', 'C.P.',
       'Localidad', 'Marca/modelo', 'Cta.cargo', 'Nombre', 'DNI/CIF_1',
       'Fec.aper', 'F.cierre', 'Km', 'Número', 'ORDEN_CORTA'],
      dtype='object')

In [5]:
# voy a cambiar el nombre de algunas columnas. 
df = df.rename(columns={"Cta.ti":"Cta_tit", "Nombre titular":"Nombre_titular", "DNI/CIF":"DNI_CIF","Teléfono":"Telefono", "E-mail":"Email", "F.matric":"Fech_matriculacion", 
                   "Dirección":"Direccion", "C.P.":"CP", "Marca/modelo":"Marca_modelo", "Cta.cargo":"Cta_cargo", "DNI/CIF_1":"DNI_CIF1", "Fec.aper": "Fech_apertura", "F.cierre":"Fech_cierre",
                   "Número":"Numero",  })

In [6]:
df.columns

Index(['Cta_tit', 'Nombre_titular', 'DNI_CIF', 'Movil', 'Telefono', 'Email',
       'Bastidor', 'Matricula', 'Fech_matriculacion', 'Mar', 'Direccion', 'CP',
       'Localidad', 'Marca_modelo', 'Cta_cargo', 'Nombre', 'DNI_CIF1',
       'Fech_apertura', 'Fech_cierre', 'Km', 'Numero', 'ORDEN_CORTA'],
      dtype='object')

In [8]:
df.isnull().sum()

Cta_tit                    8
Nombre_titular             0
DNI_CIF                    0
Movil                   1951
Telefono               23194
Email                      0
Bastidor                   0
Matricula                  0
Fech_matriculacion         4
Mar                        0
Direccion                  0
CP                       200
Localidad             116416
Marca_modelo               0
Cta_cargo             114924
Nombre                     0
DNI_CIF1                  36
Fech_apertura              0
Fech_cierre                0
Km                         0
Numero                     0
ORDEN_CORTA                0
dtype: int64

In [29]:
df["Cta_tit"] = df["Cta_tit"].apply(str)
df["Nombre_titular"] = df["Nombre_titular"].apply(str)
df["DNI_CIF"] = df["DNI_CIF"].apply(str)
df["Movil"] = df["Movil"].apply(str)
df["Telefono"] = df["Telefono"].apply(str)
df["Bastidor"] = df["Bastidor"].apply(str)
df["Matricula"] = df["Matricula"].apply(str)
df["Fech_matriculacion"] = pd.to_datetime(df["Fech_matriculacion"])
df["Mar"] = df["Mar"].apply(str)
df["Direccion"] = df["Direccion"].apply(str)
df["CP"] = df["CP"].apply(str)
df["Localidad"] = df["Localidad"].apply(str)
df["Marca_modelo"] = df["Marca_modelo"].apply(str)
df["Cta_cargo"] = df["Cta_cargo"].apply(str)
df["Nombre"] = df["Nombre"].apply(str)
df["DNI_CIF1"] = df["DNI_CIF1"].apply(str)
df["Fech_apertura"] = pd.to_datetime(df["Fech_apertura"])
df["Fech_cierre"] = pd.to_datetime(df["Fech_cierre"])
df["Km"] = df["Km"].apply(int)
df["Numero"] = df["Numero"].apply(str)
df["ORDEN_CORTA"] = df["ORDEN_CORTA"].apply(str)

In [31]:
df.to_csv("/content/drive/MyDrive/Colab Notebooks/datos_vehiculo")

-----------------------------------------------------------------------------------------

In [1]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datos_vehiculo")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405662 entries, 0 to 405661
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          405662 non-null  int64
 1   Cta_tit             405654 non-null  float64
 2   Nombre_titular      405662 non-null  object
 3   DNI_CIF             405662 non-null  object
 4   Movil               403711 non-null  float64
 5   Telefono            382468 non-null  float64
 6   Email               405662 non-null  object
 7   Bastidor            405662 non-null  object
 8   Matricula           405662 non-null  object
 9   Fech_matriculacion  405658 non-null  object
 10  Mar                 405662 non-null  object
 11  Direccion           405662 non-null  object
 12  CP                  405462 non-null  float64
 13  Localidad           289246 non-null  object
 14  Marca_modelo        405662 non-null  object
 15  Cta_cargo           290738 non-null  object
 16  Nombre              405662 non-null  object
 17  DNI_CIF1            405626 non-null  object
 18  Fech_apertura       405662 non-null  object
 19  Fech_cierre         405662 non-null  object
 20  Km                  405662 non-null  int64
 21  Numero              405662 non-null  int64
 22  ORDEN_CORTA         405662 non-null  int64
dtypes: float64(4), int64(4), object(15)
memory usage: 71.2+ MB

In [3]:
df = df.drop(['Unnamed: 0'], axis=1)

In [4]:
# for data manipulation and analysis
import pandas as pd
import numpy as np

# for plotting
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
sns.set_style('darkgrid')

# Silhouette analysis
from sklearn.metrics import silhouette_score

# To perform KMeans clustering 
from sklearn.cluster import KMeans

# for scaling
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

In [5]:
df["Cta_tit"] = df["Cta_tit"].apply(str)
df["Nombre_titular"] = df["Nombre_titular"].apply(str)
df["DNI_CIF"] = df["DNI_CIF"].apply(str)
df["Movil"] = df["Movil"].apply(str)
df["Telefono"] = df["Telefono"].apply(str)
df["Bastidor"] = df["Bastidor"].apply(str)
df["Matricula"] = df["Matricula"].apply(str)
df["Fech_matriculacion"] = pd.to_datetime(df["Fech_matriculacion"])
df["Mar"] = df["Mar"].apply(str)
df["Direccion"] = df["Direccion"].apply(str)
df["CP"] = df["CP"].apply(str)
df["Localidad"] = df["Localidad"].apply(str)
df["Marca_modelo"] = df["Marca_modelo"].apply(str)
df["Cta_cargo"] = df["Cta_cargo"].apply(str)
df["Nombre"] = df["Nombre"].apply(str)
df["DNI_CIF1"] = df["DNI_CIF1"].apply(str)
df["Fech_apertura"] = pd.to_datetime(df["Fech_apertura"])
df["Fech_cierre"] = pd.to_datetime(df["Fech_cierre"])
df["Km"] = df["Km"].apply(int)
df["Numero"] = df["Numero"].apply(str)

In [6]:
pd.options.display.max_columns = 0

In [7]:
df.head(10)

   Cta_tit           Nombre_titular    DNI_CIF  ...     Km   Numero ORDEN_CORTA
0  28013.0              JARMAUTO SA  A78483294  ...     13  8382570      838257
1  28013.0              JARMAUTO SA  A78483294  ...     13  8382570      838257
2  28013.0              JARMAUTO SA  A78483294  ...     13  8382700      838270
3  28013.0              JARMAUTO SA  A78483294  ...     13  8382700      838270
4  28013.0              JARMAUTO SA  A78483294  ...     13  8382700      838270
5  28013.0              JARMAUTO SA  A78483294  ...     13  8382700      838270
6  98907.0  PRUNEDA PUERTAS ROBERTO  20255784Y  ...  57026  8383840      838384
7  28013.0              JARMAUTO SA  A78483294  ...     13  8384520      838452
8  28013.0              JARMAUTO SA  A78483294  ...     13  8384520      838452
9  28013.0              JARMAUTO SA  A78483294  ...     13  8384520      838452

[10 rows x 22 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405662 entries, 0 to 405661
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Cta_tit             405662 non-null  object
 1   Nombre_titular      405662 non-null  object
 2   DNI_CIF             405662 non-null  object
 3   Movil               405662 non-null  object
 4   Telefono            405662 non-null  object
 5   Email               405662 non-null  object
 6   Bastidor            405662 non-null  object
 7   Matricula           405662 non-null  object
 8   Fech_matriculacion  405658 non-null  datetime64[ns]
 9   Mar                 405662 non-null  object
 10  Direccion           405662 non-null  object
 11  CP                  405662 non-null  object
 12  Localidad           405662 non-null  object
 13  Marca_modelo        405662 non-null  object
 14  Cta_cargo           405662 non-null  object
 15  Nombre              405662 non-null  object
 16  DNI_CIF1            405662 non-null  object
 17  Fech_apertura       405662 non-null  datetime64[ns]
 18  Fech_cierre         405662 non-null  datetime64[ns]
 19  Km                  405662 non-null  int64
 20  Numero              405662 non-null  object
 21  ORDEN_CORTA         405662 non-null  int64
dtypes: datetime64[ns](3), int64(2), object(17)
memory usage: 68.1+ MB

In [9]:
df.shape

(405662, 22)

In [10]:
# voy a mater la fecha máxima de y mínima de visita. 
df['Fech_primera_visita'] = df['Fech_cierre']
df['Fech_ultima_visita'] = df['Fech_cierre']

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405662 entries, 0 to 405661
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Cta_tit              405662 non-null  object
 1   Nombre_titular       405662 non-null  object
 2   DNI_CIF              405662 non-null  object
 3   Movil                405662 non-null  object
 4   Telefono             405662 non-null  object
 5   Email                405662 non-null  object
 6   Bastidor             405662 non-null  object
 7   Matricula            405662 non-null  object
 8   Fech_matriculacion   405658 non-null  datetime64[ns]
 9   Mar                  405662 non-null  object
 10  Direccion            405662 non-null  object
 11  CP                   405662 non-null  object
 12  Localidad            405662 non-null  object
 13  Marca_modelo         405662 non-null  object
 14  Cta_cargo            405662 non-null  object
 15  Nombre               405662 non-null  object
 16  DNI_CIF1             405662 non-null  object
 17  Fech_apertura        405662 non-null  datetime64[ns]
 18  Fech_cierre          405662 non-null  datetime64[ns]
 19  Km                   405662 non-null  int64
 20  Numero               405662 non-null  object
 21  ORDEN_CORTA          405662 non-null  int64
 22  Fech_primera_visita  405662 non-null  datetime64[ns]
 23  Fech_ultima_visita   405662 non-null  datetime64[ns]
 24  Dif_ult_prim_visita  405662 non-null  timedelta64[ns]
dtypes: datetime64[ns](5), int64(2), object(17), timedelta64[ns](1)
memory usage: 77.4+ MB

In [14]:
"""df['Fech_primera_visita'] = pd.to_datetime(df["Fech.primera_visita"]) """
df['Fech_primera_visita'] = df.groupby('Bastidor')['Fech_primera_visita'].transform('min') # aqui saca la primera compra. 
df['Fech_ultima_visita'] = df.groupby('Bastidor')['Fech_ultima_visita'].transform('max') # aqui saca la primera compra.

In [15]:
df["Dif_ult_prim_visita"] = df["Fech_ultima_visita"] - df["Fech_primera_visita"]

In [27]:
import datetime
df["Dif_ult_prim_visita"] = df.Dif_ult_prim_visita.dt.days

In [30]:
df["Dif_ult_prim_visita"] / 10 # esto es una prueba para saber si deja dividir un datetime estre un scalar.

0         270.8
1         270.8
2         270.8
3         270.8
4         270.8
          ...
405657     80.0
405658     19.3
405659     19.3
405660     19.3
405661     19.3
Name: Dif_ult_prim_visita, Length: 405662, dtype: float64

In [28]:
60000 / df["Dif_ult_prim_visita"] # como lo he conveertido todo a días arriba me permite hacerlo.

0          22.156573
1          22.156573
2          22.156573
3          22.156573
4          22.156573
             ...
405657     75.000000
405658    310.880829
405659    310.880829
405660    310.880829
405661    310.880829
Name: Dif_ult_prim_visita, Length: 405662, dtype: float64

In [31]:
df.head(5)

   Cta_tit Nombre_titular  ... Fech_ultima_visita Dif_ult_prim_visita
0  28013.0    JARMAUTO SA  ...         2022-06-30                2708
1  28013.0    JARMAUTO SA  ...         2022-06-30                2708
2  28013.0    JARMAUTO SA  ...         2022-06-30                2708
3  28013.0    JARMAUTO SA  ...         2022-06-30                2708
4  28013.0    JARMAUTO SA  ...         2022-06-30                2708

[5 rows x 25 columns]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405662 entries, 0 to 405661
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Cta_tit              405662 non-null  object
 1   Nombre_titular       405662 non-null  object
 2   DNI_CIF              405662 non-null  object
 3   Movil                405662 non-null  object
 4   Telefono             405662 non-null  object
 5   Email                405662 non-null  object
 6   Bastidor             405662 non-null  object
 7   Matricula            405662 non-null  object
 8   Fech_matriculacion   405658 non-null  datetime64[ns]
 9   Mar                  405662 non-null  object
 10  Direccion            405662 non-null  object
 11  CP                   405662 non-null  object
 12  Localidad            405662 non-null  object
 13  Marca_modelo         405662 non-null  object
 14  Cta_cargo            405662 non-null  object
 15  Nombre               405662 non-null  object
 16  DNI_CIF1             405662 non-null  object
 17  Fech_apertura        405662 non-null  datetime64[ns]
 18  Fech_cierre          405662 non-null  datetime64[ns]
 19  Km                   405662 non-null  int64
 20  Numero               405662 non-null  object
 21  ORDEN_CORTA          405662 non-null  int64
 22  Fech_primera_visita  405662 non-null  datetime64[ns]
 23  Fech_ultima_visita   405662 non-null  datetime64[ns]
 24  Dif_ult_prim_visita  405662 non-null  int64
dtypes: datetime64[ns](5), int64(3), object(17)
memory usage: 77.4+ MB

Ya tengo la fecha max la fecha min, la diferencia entre ambas, y ahora lo que tengo que hacer es lo mismo pero con los km.
cuando tenga este dato dividiré la diferencia entre km entre la diferencia entre fechas y será el resultado de los km que hace al día.