<a href="https://colab.research.google.com/github/pacomm5/PLANTILLAS2/blob/main/DATOS_VEHICULO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
xlsx = pd.ExcelFile("/content/IMP_BASE_PILOTO_2.xlsx")
df = pd.read_excel(xlsx, "IMP_BASE_PILOTO_2")

In [3]:
df.shape

(405662, 22)

In [4]:
df.columns

Index(['Cta.ti', 'Nombre titular', 'DNI/CIF', 'Movil', 'Teléfono', 'E-mail',
       'Bastidor', 'Matricula', 'F.matric', 'Mar', 'Dirección', 'C.P.',
       'Localidad', 'Marca/modelo', 'Cta.cargo', 'Nombre', 'DNI/CIF_1',
       'Fec.aper', 'F.cierre', 'Km', 'Número', 'ORDEN_CORTA'],
      dtype='object')

In [5]:
# voy a cambiar el nombre de algunas columnas. 
df = df.rename(columns={"Cta.ti":"Cta_tit", "Nombre titular":"Nombre_titular", "DNI/CIF":"DNI_CIF","Teléfono":"Telefono", "E-mail":"Email", "F.matric":"Fech_matriculacion", 
                   "Dirección":"Direccion", "C.P.":"CP", "Marca/modelo":"Marca_modelo", "Cta.cargo":"Cta_cargo", "DNI/CIF_1":"DNI_CIF1", "Fec.aper": "Fech_apertura", "F.cierre":"Fech_cierre",
                   "Número":"Numero",  })

In [6]:
df.columns

Index(['Cta_tit', 'Nombre_titular', 'DNI_CIF', 'Movil', 'Telefono', 'Email',
       'Bastidor', 'Matricula', 'Fech_matriculacion', 'Mar', 'Direccion', 'CP',
       'Localidad', 'Marca_modelo', 'Cta_cargo', 'Nombre', 'DNI_CIF1',
       'Fech_apertura', 'Fech_cierre', 'Km', 'Numero', 'ORDEN_CORTA'],
      dtype='object')

In [8]:
df.isnull().sum()

Cta_tit                    8
Nombre_titular             0
DNI_CIF                    0
Movil                   1951
Telefono               23194
Email                      0
Bastidor                   0
Matricula                  0
Fech_matriculacion         4
Mar                        0
Direccion                  0
CP                       200
Localidad             116416
Marca_modelo               0
Cta_cargo             114924
Nombre                     0
DNI_CIF1                  36
Fech_apertura              0
Fech_cierre                0
Km                         0
Numero                     0
ORDEN_CORTA                0
dtype: int64

In [29]:
df["Cta_tit"] = df["Cta_tit"].apply(str)
df["Nombre_titular"] = df["Nombre_titular"].apply(str)
df["DNI_CIF"] = df["DNI_CIF"].apply(str)
df["Movil"] = df["Movil"].apply(str)
df["Telefono"] = df["Telefono"].apply(str)
df["Bastidor"] = df["Bastidor"].apply(str)
df["Matricula"] = df["Matricula"].apply(str)
df["Fech_matriculacion"] = pd.to_datetime(df["Fech_matriculacion"])
df["Mar"] = df["Mar"].apply(str)
df["Direccion"] = df["Direccion"].apply(str)
df["CP"] = df["CP"].apply(str)
df["Localidad"] = df["Localidad"].apply(str)
df["Marca_modelo"] = df["Marca_modelo"].apply(str)
df["Cta_cargo"] = df["Cta_cargo"].apply(str)
df["Nombre"] = df["Nombre"].apply(str)
df["DNI_CIF1"] = df["DNI_CIF1"].apply(str)
df["Fech_apertura"] = pd.to_datetime(df["Fech_apertura"])
df["Fech_cierre"] = pd.to_datetime(df["Fech_cierre"])
df["Km"] = df["Km"].apply(int)
df["Numero"] = df["Numero"].apply(str)
df["ORDEN_CORTA"] = df["ORDEN_CORTA"].apply(str)

In [31]:
df.to_csv("/content/drive/MyDrive/Colab Notebooks/datos_vehiculo")

In [32]:
# for data manipulation and analysis
import pandas as pd
import numpy as np

# for plotting
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
sns.set_style('darkgrid')

# Silhouette analysis
from sklearn.metrics import silhouette_score

# To perform KMeans clustering 
from sklearn.cluster import KMeans

# for scaling
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

In [33]:
pd.options.display.max_columns = 0

In [35]:
df.head(10)

   Cta_tit           Nombre_titular    DNI_CIF  ...     Km   Numero ORDEN_CORTA
0  28013.0              JARMAUTO SA  A78483294  ...     13  8382570      838257
1  28013.0              JARMAUTO SA  A78483294  ...     13  8382570      838257
2  28013.0              JARMAUTO SA  A78483294  ...     13  8382700      838270
3  28013.0              JARMAUTO SA  A78483294  ...     13  8382700      838270
4  28013.0              JARMAUTO SA  A78483294  ...     13  8382700      838270
5  28013.0              JARMAUTO SA  A78483294  ...     13  8382700      838270
6  98907.0  PRUNEDA PUERTAS ROBERTO  20255784Y  ...  57026  8383840      838384
7  28013.0              JARMAUTO SA  A78483294  ...     13  8384520      838452
8  28013.0              JARMAUTO SA  A78483294  ...     13  8384520      838452
9  28013.0              JARMAUTO SA  A78483294  ...     13  8384520      838452

[10 rows x 22 columns]