<a href="https://colab.research.google.com/github/pacomm5/PLANTILLAS2/blob/main/Excel_abrir.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

- esto abriendo una consulta dentro de un excel.
- lo he subido a colab y luego lo he abierto. 
- tengo que poner el nombre de la pesta√±a.

In [2]:
xlsx = pd.ExcelFile("/content/U382 IMPORTADO.xlsx")
df = pd.read_excel(xlsx, "U382_IMPORTADO" )

In [3]:
df.head()

,Tall,Referencia,Fecha Fa,Fec.aper,Cta.car,Nombre cliente,Cta.tit,Nombre titular,Recamb.,Tiem.fac,Total.MO,Modelo,Recep,Matricula,Bastidor,Tipo O.R.,F.matric,F.ultima,Km,Tlf. movil
0,1,9475471,2017-03-16,2017-03-15,144648,FTC DEQUER ENGINE SL,144648.0,FTC DEQUER ENGINE SL,0.00,0.84,67.20,A6 C6 3.0,294.0,61831.0,WAUZZZ4F16N089635,2A O.R.CLIENT MEC AUDI,NaT,2017-03-15,224507.0,NaN
1,6,7823171,2015-02-10,2015-02-10,131646,MOHAMED GOUGRID,131646.0,MOHAMED GOUGRID,42.66,0.50,38.50,AUDI Q5 AD,56.0,74816.0,WAUZZZ8R4DA068593,2A O.R.CLIENT MEC AUDI,2013-07-27,2015-02-10,60851.0,622092094.0
2,2,9610441,2017-05-11,2017-05-10,116W,ORDENES DE REPARACION G,104249.0,PEIRO SOLER LEANDRO,3.13,0.60,38.00,PASSAT EDI,295.0,108957.0,WVWZZZ3CZAP045669,4V GARANTIA MECAN VW,NaT,2017-05-10,34867.0,606632182.0
3,2,8017152,2015-05-25,2015-05-21,NaN,ORDENES DE REPARACION G,2291.0,VOLKSWAGEN RENTING SA,24.12,0.50,31.66,PASSAT EDI,50.0,119461.0,WVWZZZ3CZBP327511,4V GARANTIA MECAN VW,NaT,2015-05-21,60157.0,NaN
4,2,8017151,2015-05-25,2015-05-21,2291,VOLKSWAGEN RENTING SA,2291.0,VOLKSWAGEN RENTING SA,161.85,1.60,105.12,PASSAT EDI,50.0,119461.0,WVWZZZ3CZBP327511,2V O.R.CLIENT MEC VW,NaT,2015-05-21,60157.0,NaN