<a href="https://colab.research.google.com/github/pacomm5/PLANTILLAS2/blob/main/RECAMBIOS_NUEVO_LISTADO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CREANDO ARCHIVOS POR AÑOS Y TOTAL

In [ ]:
import pandas as pd

In [ ]:
enero2015 = pd.read_csv("/content/201501.TXT", sep=",", encoding= "ISO-8859-1")

In [ ]:
enero2015.head()

,Alma,Cuenta,Refer.,Fec.sali,Artículo,Clav,Denominacion,Canti,P.V.P.,Dto.,...,F.cierre,Tipo,Recep,P.V.P..1,TOTAL PVP,Opera,Nombre,Tipo.1,Famil,Bastidor
0,1,98253,6522204.0,27/01/15,11/5K0807109M,6,REFUERZO 10,1,"173,93","10,00",...,27/01/15,5V,85.0,"214,00","214,00",1.0,MANUEL ESCUDERO GARCIA,7V,AL8,WVWZZZ1KZ9W487026
1,1,98253,6522204.0,27/01/15,11/5K0807217BLGRU,4,GUARNECID 10,1,"316,39","10,00",...,27/01/15,5V,85.0,"401,00","401,00",1.0,MANUEL ESCUDERO GARCIA,7V,ALH,WVWZZZ1KZ9W487026
2,1,98253,6522204.0,27/01/15,11/5K0807571J,6,GUIA 10,1,"31,75","10,00",...,27/01/15,5V,85.0,"45,40","45,40",1.0,MANUEL ESCUDERO GARCIA,7V,AL7,WVWZZZ1KZ9W487026
3,1,98253,6522204.0,27/01/15,11/5K0919491B,8,HALTER 10,2,"13,60","10,00",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026
4,1,98253,6522204.0,27/01/15,11/5K0919493G,8,HALTER 10,2,"13,60","10,00",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026

In [ ]:
enero2015.shape

(12463, 26)

In [ ]:
enero2015 = enero2015[~enero2015.Cuenta.isnull()]

In [ ]:
enero2015.isnull().sum()

Alma               0
Cuenta             0
Refer.             0
Fec.sali           0
Artículo           0
Clav             972
Denominacion       0
Canti              0
P.V.P.             0
Dto.            6506
Neto               0
Costo              0
Beneficio          0
% Com              0
Comision           0
Fam.a            720
F.cierre           0
Tipo               0
Recep              0
P.V.P..1           0
TOTAL PVP          0
Opera              0
Nombre             0
Tipo.1             0
Famil              3
Bastidor           0
dtype: int64

In [ ]:
febrero2015 = pd.read_csv("/content/201502.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
febrero2015.shape

(13526, 26)

In [ ]:
febrero2015 = febrero2015[~febrero2015.Cuenta.isnull()]

In [ ]:
febrero2015.isnull().sum()

Alma               0
Cuenta             0
Refer.             0
Fec.sali           0
Artículo           0
Clav            1036
Denominacion       0
Canti              0
P.V.P.             0
Dto.            6979
Neto               0
Costo              0
Beneficio          0
% Com              0
Comision           0
Fam.a            724
F.cierre           0
Tipo               0
Recep              0
P.V.P..1           0
TOTAL PVP          0
Opera              1
Nombre             1
Tipo.1             0
Famil              0
Bastidor           0
dtype: int64

In [ ]:
febrero2015.shape

(13415, 26)

In [ ]:
dataframes = [enero2015, febrero2015]
resultado = pd.concat(dataframes)

In [ ]:
resultado.head()

,Alma,Cuenta,Refer.,Fec.sali,Artículo,Clav,Denominacion,Canti,P.V.P.,Dto.,...,F.cierre,Tipo,Recep,P.V.P..1,TOTAL PVP,Opera,Nombre,Tipo.1,Famil,Bastidor
0,1,98253,6522204.0,27/01/15,11/5K0807109M,6,REFUERZO 10,1,"173,93","10,00",...,27/01/15,5V,85.0,"214,00","214,00",1.0,MANUEL ESCUDERO GARCIA,7V,AL8,WVWZZZ1KZ9W487026
1,1,98253,6522204.0,27/01/15,11/5K0807217BLGRU,4,GUARNECID 10,1,"316,39","10,00",...,27/01/15,5V,85.0,"401,00","401,00",1.0,MANUEL ESCUDERO GARCIA,7V,ALH,WVWZZZ1KZ9W487026
2,1,98253,6522204.0,27/01/15,11/5K0807571J,6,GUIA 10,1,"31,75","10,00",...,27/01/15,5V,85.0,"45,40","45,40",1.0,MANUEL ESCUDERO GARCIA,7V,AL7,WVWZZZ1KZ9W487026
3,1,98253,6522204.0,27/01/15,11/5K0919491B,8,HALTER 10,2,"13,60","10,00",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026
4,1,98253,6522204.0,27/01/15,11/5K0919493G,8,HALTER 10,2,"13,60","10,00",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026

In [ ]:
resultado.shape

(25767, 26)

In [ ]:
enero2015 = pd.read_csv("/content/201501.TXT", sep=",", encoding= "ISO-8859-1")
febrero2015 = pd.read_csv("/content/201502.txt", sep=",", encoding= "ISO-8859-1")
marzo2015 = pd.read_csv("/content/201503.txt", sep=",", encoding= "ISO-8859-1")
abril2015 = pd.read_csv("/content/201504.txt", sep=",", encoding= "ISO-8859-1")
mayo2015 = pd.read_csv("/content/201505.txt", sep=",", encoding= "ISO-8859-1")
junio2015 = pd.read_csv("/content/201506.txt", sep=",", encoding= "ISO-8859-1")
julio2015 = pd.read_csv("/content/201507.txt", sep=",", encoding= "ISO-8859-1")
agosto2015 = pd.read_csv("/content/201508.txt", sep=",", encoding= "ISO-8859-1")
septiembre2015 = pd.read_csv("/content/201509.txt", sep=",", encoding= "ISO-8859-1")
octubre2015 = pd.read_csv("/content/201510.txt", sep=",", encoding= "ISO-8859-1")
noviembre2015 = pd.read_csv("/content/201511.txt", sep=",", encoding= "ISO-8859-1")
diciembre2015 = pd.read_csv("/content/201512.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
dataframes = [enero2015, febrero2015, marzo2015, abril2015, mayo2015, junio2015, julio2015, agosto2015, septiembre2015, octubre2015, noviembre2015,diciembre2015]
total_2015 = pd.concat(dataframes)

In [ ]:
total_2015.shape

(166528, 26)

In [ ]:
total_2015.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2015.csv")

In [ ]:
prueba = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2015.csv")

In [ ]:
prueba.head()

,Unnamed: 0,Alma,Cuenta,Refer.,Fec.sali,Artículo,Clav,Denominacion,Canti,P.V.P.,...,F.cierre,Tipo,Recep,P.V.P..1,TOTAL PVP,Opera,Nombre,Tipo.1,Famil,Bastidor
0,0,1,98253,6522204.0,27/01/15,11/5K0807109M,6,REFUERZO 10,1,"173,93",...,27/01/15,5V,85.0,"214,00","214,00",1.0,MANUEL ESCUDERO GARCIA,7V,AL8,WVWZZZ1KZ9W487026
1,1,1,98253,6522204.0,27/01/15,11/5K0807217BLGRU,4,GUARNECID 10,1,"316,39",...,27/01/15,5V,85.0,"401,00","401,00",1.0,MANUEL ESCUDERO GARCIA,7V,ALH,WVWZZZ1KZ9W487026
2,2,1,98253,6522204.0,27/01/15,11/5K0807571J,6,GUIA 10,1,"31,75",...,27/01/15,5V,85.0,"45,40","45,40",1.0,MANUEL ESCUDERO GARCIA,7V,AL7,WVWZZZ1KZ9W487026
3,3,1,98253,6522204.0,27/01/15,11/5K0919491B,8,HALTER 10,2,"13,60",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026
4,4,1,98253,6522204.0,27/01/15,11/5K0919493G,8,HALTER 10,2,"13,60",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026

In [ ]:
prueba.shape

(166528, 27)

In [ ]:
enero2016 = pd.read_csv("/201601.txt", sep=",", encoding= "ISO-8859-1")
febrero2016 = pd.read_csv("/201602.txt", sep=",", encoding= "ISO-8859-1")
marzo2016 = pd.read_csv("/201603.txt", sep=",", encoding= "ISO-8859-1")
abril2016 = pd.read_csv("/201604.txt", sep=",", encoding= "ISO-8859-1")
mayo2016 = pd.read_csv("/201605.txt", sep=",", encoding= "ISO-8859-1")
junio2016 = pd.read_csv("/201606.txt", sep=",", encoding= "ISO-8859-1")
julio2016 = pd.read_csv("/201607.txt", sep=",", encoding= "ISO-8859-1")
agosto2016 = pd.read_csv("/201608.txt", sep=",", encoding= "ISO-8859-1")
septiembre2016 = pd.read_csv("/201609.txt", sep=",", encoding= "ISO-8859-1")
octubre2016 = pd.read_csv("/201610.txt", sep=",", encoding= "ISO-8859-1")
noviembre2016 = pd.read_csv("/201611.txt", sep=",", encoding= "ISO-8859-1")
diciembre2016 = pd.read_csv("/201612.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
dataframes = [enero2016, febrero2016, marzo2016, abril2016, mayo2016, junio2016, julio2016, agosto2016, septiembre2016, octubre2016, noviembre2016,diciembre2016]
total_2016 = pd.concat(dataframes)

In [ ]:
total_2016.shape

(199835, 26)

In [ ]:
total_2016.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2016.csv")

In [ ]:
prueba = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2016.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
prueba.head()

,Unnamed: 0,Alma,Cuenta,Refer.,Fec.sali,Artículo,Clav,Denominacion,Canti,P.V.P.,...,F.cierre,Tipo,Recep,P.V.P..1,TOTAL PVP,Opera,Nombre,Tipo.1,Famil,Bastidor
0,0,1,116W,8469522.0,29/01/16,11/000010006,8,ROTULO EXP,1,"0,07",...,29/01/16,8V,85.0,"0,15","0,15",NaN,NaN,4V,ADW,WVWZZZ3CZFE438441
1,1,1,2004,8355551.0,11/12/15,99/000003,15,SACAR COD,NaN,"0,00",...,05/01/16,5V,85.0,"12,92","0,00",1.0,MANUEL ESCUDERO GARCIA,7V,VO,WVWZZZ6RZFY033277
2,2,1,77828,8353954.0,12/01/16,11/G,NaN,02E305051C - CARTUCH,1,"21,82",...,26/01/16,6V,9.0,"0,00","0,00",1.0,MANUEL ESCUDERO GARCIA,2V,G,WVWZZZ3CZ7P090459
3,3,1,77828,8353954.0,12/01/16,11/G,NaN,02E315141A - TAPA,1,"28,24",...,26/01/16,6V,9.0,"0,00","0,00",1.0,MANUEL ESCUDERO GARCIA,2V,G,WVWZZZ3CZ7P090459
4,4,1,77828,8353954.0,12/01/16,11/G,NaN,02E321371E - JUNTA,1,"10,42",...,26/01/16,6V,9.0,"0,00","0,00",1.0,MANUEL ESCUDERO GARCIA,2V,G,WVWZZZ3CZ7P090459

In [ ]:
dataframes = [total_2015,total_2016]
total_2015_2016 = pd.concat(dataframes)

In [ ]:
total_2015_2016.shape

(366363, 26)

In [ ]:
enero2017 = pd.read_csv("/content/201701.txt", sep=",", encoding= "ISO-8859-1")
febrero2017 = pd.read_csv("/content/201702.txt", sep=",", encoding= "ISO-8859-1")
marzo2017 = pd.read_csv("/content/201703.txt", sep=",", encoding= "ISO-8859-1")
abril2017 = pd.read_csv("/content/201704.txt", sep=",", encoding= "ISO-8859-1")
mayo2017 = pd.read_csv("/content/201705.txt", sep=",", encoding= "ISO-8859-1")
junio2017 = pd.read_csv("/content/201706.txt", sep=",", encoding= "ISO-8859-1")
julio2017 = pd.read_csv("/content/201707.txt", sep=",", encoding= "ISO-8859-1")
agosto2017 = pd.read_csv("/content/201708.txt", sep=",", encoding= "ISO-8859-1")
septiembre2017 = pd.read_csv("/content/201709.txt", sep=",", encoding= "ISO-8859-1")
octubre2017 = pd.read_csv("/content/201710.txt", sep=",", encoding= "ISO-8859-1")
noviembre2017 = pd.read_csv("/content/201711.txt", sep=",", encoding= "ISO-8859-1")
diciembre2017 = pd.read_csv("/content/201712.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
dataframes = [enero2017, febrero2017, marzo2017, abril2017, mayo2017, junio2017, julio2017, agosto2017, septiembre2017, octubre2017, noviembre2017,diciembre2017]

In [ ]:
total_2017 = pd.concat(dataframes)

In [ ]:
total_2017.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2017.csv")

In [ ]:
enero2018 = pd.read_csv("/content/201801.txt", sep=",", encoding= "ISO-8859-1")
febrero2018 = pd.read_csv("/content/201802.txt", sep=",", encoding= "ISO-8859-1")
marzo2018 = pd.read_csv("/content/201803.txt", sep=",", encoding= "ISO-8859-1")
abril2018 = pd.read_csv("/content/201804.txt", sep=",", encoding= "ISO-8859-1")
mayo2018 = pd.read_csv("/content/201805.txt", sep=",", encoding= "ISO-8859-1")
junio2018 = pd.read_csv("/content/201806.txt", sep=",", encoding= "ISO-8859-1")
julio2018 = pd.read_csv("/content/201807.txt", sep=",", encoding= "ISO-8859-1")
agosto2018 = pd.read_csv("/content/201808.txt", sep=",", encoding= "ISO-8859-1")
septiembre2018 = pd.read_csv("/content/201809.txt", sep=",", encoding= "ISO-8859-1")
octubre2018 = pd.read_csv("/content/201810.txt", sep=",", encoding= "ISO-8859-1")
noviembre2018 = pd.read_csv("/content/201811.txt", sep=",", encoding= "ISO-8859-1")
diciembre2018 = pd.read_csv("/content/201812.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
dataframes = [enero2018, febrero2018, marzo2018, abril2018, mayo2018, junio2018, julio2018, agosto2018, septiembre2018, octubre2018, noviembre2018,diciembre2018]

In [ ]:
total_2018 = pd.concat(dataframes)

In [ ]:
total_2018.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2018.csv")

In [ ]:
enero2019 = pd.read_csv("/content/201901.txt", sep=",", encoding= "ISO-8859-1")
febrero2019 = pd.read_csv("/content/201902.txt", sep=",", encoding= "ISO-8859-1")
marzo2019 = pd.read_csv("/content/201903.txt", sep=",", encoding= "ISO-8859-1")
abril2019 = pd.read_csv("/content/201904.txt", sep=",", encoding= "ISO-8859-1")
mayo2019 = pd.read_csv("/content/201905.txt", sep=",", encoding= "ISO-8859-1")
junio2019 = pd.read_csv("/content/201906.txt", sep=",", encoding= "ISO-8859-1")
julio2019 = pd.read_csv("/content/201907.txt", sep=",", encoding= "ISO-8859-1")
agosto2019 = pd.read_csv("/content/201908.txt", sep=",", encoding= "ISO-8859-1")
septiembre2019 = pd.read_csv("/content/201909.txt", sep=",", encoding= "ISO-8859-1")
octubre2019 = pd.read_csv("/content/201910.txt", sep=",", encoding= "ISO-8859-1")
noviembre2019 = pd.read_csv("/content/201911.txt", sep=",", encoding= "ISO-8859-1")
diciembre2019 = pd.read_csv("/content/201912.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
dataframes = [enero2019, febrero2019, marzo2019, abril2019, mayo2019, junio2019, julio2019, agosto2019, septiembre2019, octubre2019, noviembre2019,diciembre2019]

In [ ]:
total_2019 = pd.concat(dataframes)

In [ ]:
total_2019.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2019.csv")

In [ ]:
enero2020 = pd.read_csv("/content/202001.txt", sep=",", encoding= "ISO-8859-1")
febrero2020 = pd.read_csv("/content/202002.txt", sep=",", encoding= "ISO-8859-1")
marzo2020 = pd.read_csv("/content/202003.txt", sep=",", encoding= "ISO-8859-1")
abril2020 = pd.read_csv("/content/202004.txt", sep=",", encoding= "ISO-8859-1")
mayo2020 = pd.read_csv("/content/202005.txt", sep=",", encoding= "ISO-8859-1")
junio2020 = pd.read_csv("/content/202006.txt", sep=",", encoding= "ISO-8859-1")
julio2020 = pd.read_csv("/content/202007.txt", sep=",", encoding= "ISO-8859-1")
agosto2020 = pd.read_csv("/content/202008.txt", sep=",", encoding= "ISO-8859-1")
septiembre2020 = pd.read_csv("/content/202009.txt", sep=",", encoding= "ISO-8859-1")
octubre2020 = pd.read_csv("/content/202010.txt", sep=",", encoding= "ISO-8859-1")
noviembre2020 = pd.read_csv("/content/202011.txt", sep=",", encoding= "ISO-8859-1")
diciembre2020 = pd.read_csv("/content/202012.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
dataframes = [enero2020, febrero2020, marzo2020, abril2020, mayo2020, junio2020, julio2020, agosto2020, septiembre2020, octubre2020, noviembre2020,diciembre2020]

In [ ]:
total_2020 = pd.concat(dataframes)

In [ ]:
total_2020.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2020.csv")

In [ ]:
enero2021 = pd.read_csv("/content/202101.txt", sep=",", encoding= "ISO-8859-1")
febrero2021 = pd.read_csv("/content/202102.txt", sep=",", encoding= "ISO-8859-1")
marzo2021 = pd.read_csv("/content/202103.txt", sep=",", encoding= "ISO-8859-1")
abril2021 = pd.read_csv("/content/202104.txt", sep=",", encoding= "ISO-8859-1")
mayo2021 = pd.read_csv("/content/202105.txt", sep=",", encoding= "ISO-8859-1")
junio2021 = pd.read_csv("/content/202106.txt", sep=",", encoding= "ISO-8859-1")
julio2021 = pd.read_csv("/content/202107.txt", sep=",", encoding= "ISO-8859-1")
agosto2021 = pd.read_csv("/content/202108.txt", sep=",", encoding= "ISO-8859-1")
septiembre2021 = pd.read_csv("/content/202109.txt", sep=",", encoding= "ISO-8859-1")
octubre2021 = pd.read_csv("/content/202110.txt", sep=",", encoding= "ISO-8859-1")
noviembre2021 = pd.read_csv("/content/202111.txt", sep=",", encoding= "ISO-8859-1")
diciembre2021 = pd.read_csv("/content/202112.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
dataframes = [enero2021, febrero2021, marzo2021, abril2021, mayo2021, junio2021, julio2021, agosto2021, septiembre2021, octubre2021, noviembre2021,diciembre2021]

In [ ]:
total_2021 = pd.concat(dataframes)

In [ ]:
total_2021.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2021.csv")

In [126]:
enero2022 = pd.read_csv("/content/202201.txt", sep=",", encoding= "ISO-8859-1", decimal="," )
febrero2022 = pd.read_csv("/content/202202.txt", sep=",", encoding= "ISO-8859-1", decimal=",")
marzo2022 = pd.read_csv("/content/202203.txt", sep=",", encoding= "ISO-8859-1", decimal=",")
abril2022 = pd.read_csv("/content/202204.txt", sep=",", encoding= "ISO-8859-1", decimal=",")
mayo2022 = pd.read_csv("/content/202205.txt", sep=",", encoding= "ISO-8859-1", decimal=",")
junio2022 = pd.read_csv("/content/202206.txt", sep=",", encoding= "ISO-8859-1", decimal=",")

In [127]:
enero2022.columns

Index(['Alma', 'Cuenta', 'Refer.', 'Fec.sali', 'Artículo', 'Clav',
       'Denominacion', 'Canti', 'P.V.P.', 'Dto.', 'Neto', 'Costo', 'Beneficio',
       '% Com', 'Comision', 'Fam.a', 'F.cierre', 'Tipo', 'Recep', 'P.V.P..1',
       'TOTAL PVP', 'Opera', 'Nombre', 'Tipo.1', 'Famil', 'Bastidor'],
      dtype='object')

In [128]:
enero2022 = enero2022.rename(columns={"Refer.":"Refer", "Fec.sali": "Fech_Salida", "Artículo":"Articulo", "P.V.P.": "PVP", "Dto.":"Dto", "% Com":"COM", "Fam.a":"Famil_apr", "F.cierre":"Fech_cierre",
                        "P.V.P..1": "PVP1", "TOTAL PVP":"TOTAL_PVP","Tipo.1": "Tipo_venta" })

In [129]:
enero2022 = enero2022[~enero2022.Cuenta.isnull()]
enero2022 = enero2022[~enero2022.Fech_cierre.isnull()]
enero2022 = enero2022[~enero2022.Canti.isnull()]

In [130]:
enero2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13534 entries, 0 to 14040
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Alma          13534 non-null  object
 1   Cuenta        13534 non-null  object
 2   Refer         13534 non-null  float64
 3   Fech_Salida   13534 non-null  object
 4   Articulo      13534 non-null  object
 5   Clav          12396 non-null  object
 6   Denominacion  13534 non-null  object
 7   Canti         13534 non-null  float64
 8   PVP           13534 non-null  float64
 9   Dto           9533 non-null   float64
 10  Neto          13534 non-null  float64
 11  Costo         13534 non-null  float64
 12  Beneficio     13534 non-null  float64
 13  COM           13534 non-null  float64
 14  Comision      13534 non-null  float64
 15  Famil_apr     11132 non-null  object
 16  Fech_cierre   13534 non-null  object
 17  Tipo          13534 non-null  object
 18  Recep         13534 non-null  float64
 19  PVP1          13534 non-null  float64
 20  TOTAL_PVP     13534 non-null  float64
 21  Opera         13528 non-null  float64
 22  Nombre        13528 non-null  object
 23  Tipo_venta    13534 non-null  object
 24  Famil         13534 non-null  object
 25  Bastidor      13534 non-null  object
dtypes: float64(13), object(13)
memory usage: 2.8+ MB

In [131]:
# lo primero que voy a hacer es cambiar de tipo de datos. 
enero2022["Alma"] = enero2022["Alma"].apply(str)
enero2022["Cuenta"] = enero2022["Cuenta"].apply(str)
enero2022["Refer"] = enero2022["Refer"].apply(str)
enero2022["Fech_cierre"] = pd.to_datetime(enero2022["Fech_cierre"])
enero2022["Articulo"] = enero2022["Articulo"].apply(str)
enero2022["Clav"] = enero2022["Clav"].apply(str)
enero2022["Denominacion"] = enero2022["Denominacion"].apply(str)
enero2022["Canti"] = enero2022["Canti"].apply(int)
enero2022["PVP"] = enero2022["PVP"].apply(float)
enero2022["Dto"] = enero2022["Dto"].apply(float)
enero2022["Neto"] = enero2022["Neto"].apply(float)
enero2022["Costo"] = enero2022["Costo"].apply(float)
enero2022["Beneficio"] = enero2022["Beneficio"].apply(float)
enero2022["COM"] = enero2022["COM"].apply(float)
enero2022["Comision"] = enero2022["Comision"].apply(float)
enero2022["Famil_apr"] = enero2022["COM"].apply(str)
enero2022["Tipo"] = enero2022["Tipo"].apply(str)
enero2022["Recep"] = enero2022["Recep"].apply(str)
enero2022["PVP1"] = enero2022["PVP1"].apply(float)
enero2022["TOTAL_PVP"] = enero2022["TOTAL_PVP"].apply(float)
enero2022["Opera"] = enero2022["Opera"].apply(str)
enero2022["Nombre"] = enero2022["Nombre"].apply(str)
enero2022["Tipo_venta"] = enero2022["Tipo_venta"].apply(str)
enero2022["Famil"] = enero2022["Famil"].apply(str)
enero2022["Bastidor"] = enero2022["Bastidor"].apply(str)

In [132]:
print("la fecha va desde {} a {}".format(enero2022.Fech_cierre.min(), enero2022.Fech_cierre.max()))

la fecha va desde 2022-01-13 00:00:00 a 2022-12-01 00:00:00

In [98]:
dataframes = [enero2022, febrero2022, marzo2022, abril2022, mayo2022, junio2022]

In [99]:
total_2022 = pd.concat(dataframes)

In [100]:
total_2022.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2022.csv")

In [ ]:
df_2015 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2015.csv", sep=",", encoding= "ISO-8859-1")
df_2016 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2016.csv", sep=",", encoding= "ISO-8859-1")
df_2017 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2017.csv", sep=",", encoding= "ISO-8859-1")
df_2018 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2018.csv", sep=",", encoding= "ISO-8859-1")
df_2019 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2019.csv", sep=",", encoding= "ISO-8859-1")
df_2020 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2020.csv", sep=",", encoding= "ISO-8859-1")
df_2021 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2021.csv", sep=",", encoding= "ISO-8859-1")
df_2022 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2022.csv", sep=",", encoding= "ISO-8859-1")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_2015.head(2)

   Unnamed: 0 Alma Cuenta  ...  Tipo.1 Famil           Bastidor
0           0    1  98253  ...      7V   AL8  WVWZZZ1KZ9W487026
1           1    1  98253  ...      7V   ALH  WVWZZZ1KZ9W487026

[2 rows x 27 columns]

In [ ]:
df["Fech_cierre"] = pd.to_datetime(df["Fech_cierre"])

In [ ]:
print("la fecha va desde {} a {}".format(df_2015.F.cierre.min(), df_2015.F.cierre.max()))

AttributeError: ignored

In [ ]:
dataframes = [df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022]

In [ ]:
total_recambios_hasta_junio = pd.concat(dataframes)

In [ ]:
total_recambios_hasta_junio.shape

(1521897, 27)

In [ ]:
total_recambios_hasta_junio.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_recambios_hasta_junio.csv")

# TRATAMIENTO DEL ARCHIVO

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_recambios_hasta_junio.csv", decimal=",")

In [ ]:
pd.options.display.max_columns = 0

In [ ]:
df.head()

   Unnamed: 0  Unnamed: 0.1 Alma  ... Tipo.1 Famil           Bastidor
0           0             0    1  ...     7V   AL8  WVWZZZ1KZ9W487026
1           1             1    1  ...     7V   ALH  WVWZZZ1KZ9W487026
2           2             2    1  ...     7V   AL7  WVWZZZ1KZ9W487026
3           3             3    1  ...     7V   ANW  WVWZZZ1KZ9W487026
4           4             4    1  ...     7V   ANW  WVWZZZ1KZ9W487026

[5 rows x 28 columns]

In [ ]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Alma', 'Cuenta', 'Refer.', 'Fec.sali',
       'ArtÃ­culo', 'Clav', 'Denominacion', 'Canti', 'P.V.P.', 'Dto.', 'Neto',
       'Costo', 'Beneficio', '% Com', 'Comision', 'Fam.a', 'F.cierre', 'Tipo',
       'Recep', 'P.V.P..1', 'TOTAL PVP', 'Opera', 'Nombre', 'Tipo.1', 'Famil',
       'Bastidor'],
      dtype='object')

In [ ]:
df = df.rename(columns={"Refer.":"Refer", "Fec.sali": "Fech_Salida", "ArtÃ­culo":"Articulo", "P.V.P.": "PVP", "Dto.":"Dto", "% Com":"COM", "Fam.a":"Famil_apr", "F.cierre":"Fech_cierre",
                        "P.V.P..1": "PVP1", "TOTAL PVP":"TOTAL_PVP","Tipo.1": "Tipo_venta" })

In [ ]:
df.tail()

         Unnamed: 0  Unnamed: 0.1 Alma  ... Tipo_venta Famil           Bastidor
1521887       96403         15376    9  ...         5V    MP  WVWZZZAUZLW905090
1521888       96404         15377    9  ...         7V   ALS  WVWZZZAWZLY054759
1521889       96405         15378    9  ...         7V   ANW  WVWZZZAWZLY054759
1521890       96406         15379    9  ...         7V    VA  WVWZZZAWZLY054759
1521891       96407         15380    9  ...         5V    MP  WVWZZZCDZMW303010

[5 rows x 28 columns]

In [ ]:
df.isnull().sum()

Unnamed: 0           0
Unnamed: 0.1         0
Alma             33879
Cuenta           36673
Refer            36673
Fech_Salida      36681
Articulo         36673
Clav            148627
Denominacion     36674
Canti            36674
PVP              33872
Dto             569407
Neto             33872
Costo            33879
Beneficio        33871
COM              36673
Comision         33879
Famil_apr       147425
Fech_cierre      36673
Tipo             36673
Recep            36673
PVP1             36673
TOTAL_PVP        36673
Opera            37021
Nombre           37025
Tipo_venta       36673
Famil            36687
Bastidor         36810
dtype: int64

In [ ]:
df = df[~df.Cuenta.isnull()]

In [ ]:
df.isnull().sum()

Unnamed: 0           0
Unnamed: 0.1         0
Alma                 0
Cuenta               0
Refer                0
Fech_Salida          8
Articulo             0
Clav            111954
Denominacion         1
Canti              206
PVP                  0
Dto             558282
Neto                 0
Costo                0
Beneficio            0
COM                  0
Comision             0
Famil_apr       110752
Fech_cierre          0
Tipo                 0
Recep                0
PVP1                 0
TOTAL_PVP            0
Opera              348
Nombre             352
Tipo_venta           0
Famil               14
Bastidor           137
dtype: int64

In [ ]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Alma', 'Cuenta', 'Refer', 'Fech_Salida',
       'Articulo', 'Clav', 'Denominacion', 'Canti', 'PVP', 'Dto', 'Neto',
       'Costo', 'Beneficio', 'COM', 'Comision', 'Famil_apr', 'Fech_cierre',
       'Tipo', 'Recep', 'PVP1', 'TOTAL_PVP', 'Opera', 'Nombre', 'Tipo_venta',
       'Famil', 'Bastidor'],
      dtype='object')

In [ ]:
# lo primero que voy a hacer es cambiar de tipo de datos. 
df["Alma"] = df["Alma"].apply(str)
df["Cuenta"] = df["Cuenta"].apply(str)
df["Refer"] = df["Refer"].apply(str)
df["Fech_cierre"] = pd.to_datetime(df["Fech_cierre"])
df["Articulo"] = df["Articulo"].apply(str)
df["Clav"] = df["Clav"].apply(str)
df["Denominacion"] = df["Denominacion"].apply(str)
df["Canti"] = df["Canti"].apply(float)
df["PVP"] = df["PVP"].apply(float)
df["Dto"] = df["Dto"].apply(float)
df["Neto"] = df["Neto"].apply(float)
df["Costo"] = df["Costo"].apply(float)
df["Beneficio"] = df["Beneficio"].apply(float)
df["COM"] = df["COM"].apply(float)
df["Comision"] = df["Comision"].apply(float)
df["Famil_apr"] = df["COM"].apply(str)
df["Tipo"] = df["Tipo"].apply(str)
df["Recep"] = df["Recep"].apply(str)
df["PVP1"] = df["PVP1"].apply(float)
df["TOTAL_PVP"] = df["TOTAL_PVP"].apply(float)
df["Opera"] = df["Opera"].apply(str)
df["Nombre"] = df["Nombre"].apply(str)
df["Tipo_venta"] = df["Tipo_venta"].apply(str)
df["Famil"] = df["Famil"].apply(str)
df["Bastidor"] = df["Bastidor"].apply(str)

In [ ]:
df.Fech_cierre.value_counts()

2016-07-29    5440
2018-02-28    5074
2016-05-31    4422
2016-09-30    4143
2018-05-31    3788
              ...
2020-08-03       1
2018-09-09       1
2018-07-07       1
2019-02-02       1
2017-03-06       1
Name: Fech_cierre, Length: 1911, dtype: int64

In [ ]:
print("la fecha va desde {} a {}".format(df.Fech_cierre.min(), df.Fech_cierre.max()))

la fecha va desde 2015-01-04 00:00:00 a 2022-12-05 00:00:00

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1485224 entries, 0 to 1521891
Data columns (total 28 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Unnamed: 0    1485224 non-null  int64
 1   Unnamed: 0.1  1485224 non-null  int64
 2   Alma          1485224 non-null  object
 3   Cuenta        1485224 non-null  object
 4   Refer         1485224 non-null  object
 5   Fech_Salida   1485216 non-null  object
 6   Articulo      1485224 non-null  object
 7   Clav          1485224 non-null  object
 8   Denominacion  1485224 non-null  object
 9   Canti         1485018 non-null  float64
 10  PVP           1485224 non-null  float64
 11  Dto           926942 non-null   float64
 12  Neto          1485224 non-null  float64
 13  Costo         1485224 non-null  float64
 14  Beneficio     1485224 non-null  float64
 15  COM           1485224 non-null  float64
 16  Comision      1485224 non-null  float64
 17  Famil_apr     1485224 non-null  object
 18  Fech_cierre   1485224 non-null  datetime64[ns]
 19  Tipo          1485224 non-null  object
 20  Recep         1485224 non-null  object
 21  PVP1          1485224 non-null  float64
 22  TOTAL_PVP     1485224 non-null  float64
 23  Opera         1485224 non-null  object
 24  Nombre        1485224 non-null  object
 25  Tipo_venta    1485224 non-null  object
 26  Famil         1485224 non-null  object
 27  Bastidor      1485224 non-null  object
dtypes: datetime64[ns](1), float64(10), int64(2), object(15)
memory usage: 328.6+ MB

In [ ]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Alma', 'Cuenta', 'Refer', 'Fech_Salida',
       'Articulo', 'Clav', 'Denominacion', 'Canti', 'PVP', 'Dto', 'Neto',
       'Costo', 'Beneficio', 'COM', 'Comision', 'Famil_apr', 'Fech_cierre',
       'Tipo', 'Recep', 'PVP1', 'TOTAL_PVP', 'Opera', 'Nombre', 'Tipo_venta',
       'Famil', 'Bastidor'],
      dtype='object')

In [ ]:
df.head(2)

   Unnamed: 0  Unnamed: 0.1 Alma  ... Tipo_venta Famil           Bastidor
0           0             0    1  ...         7V   AL8  WVWZZZ1KZ9W487026
1           1             1    1  ...         7V   ALH  WVWZZZ1KZ9W487026

[2 rows x 28 columns]

In [ ]:
mis_columnas = ["Alma", "Refer", "Clav", "Canti", "PVP", "Fech_cierre", "Opera", "Tipo_venta", "Famil", "Bastidor" ]

In [ ]:
df2 = df[mis_columnas]
df2.head(2)

  Alma      Refer Clav  Canti  ...  Opera Tipo_venta Famil           Bastidor
0    1  6522204.0    6    1.0  ...    1.0         7V   AL8  WVWZZZ1KZ9W487026
1    1  6522204.0    4    1.0  ...    1.0         7V   ALH  WVWZZZ1KZ9W487026

[2 rows x 10 columns]

In [ ]:
df2.shape

(1485224, 10)

In [ ]:
df2['Refer2'] = df.apply(lambda x: x["Refer"][:-3], axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df2.head()

  Alma      Refer Clav  Canti  ...  Tipo_venta Famil           Bastidor  Refer2
0    1  6522204.0    6    1.0  ...          7V   AL8  WVWZZZ1KZ9W487026  652220
1    1  6522204.0    4    1.0  ...          7V   ALH  WVWZZZ1KZ9W487026  652220
2    1  6522204.0    6    1.0  ...          7V   AL7  WVWZZZ1KZ9W487026  652220
3    1  6522204.0    8    2.0  ...          7V   ANW  WVWZZZ1KZ9W487026  652220
4    1  6522204.0    8    2.0  ...          7V   ANW  WVWZZZ1KZ9W487026  652220

[5 rows x 11 columns]

In [ ]:
df.shape

(1485224, 28)

In [ ]:
df2['year'] = df2['Fech_cierre'].dt.year # sacamos el año de la fecha
df2['month'] = df2['Fech_cierre'].dt.month # sacamos el mes
df2['day'] = df2['Fech_cierre'].dt.day # sacamos el día. 
df2['day_of_week'] = df2['Fech_cierre'].dt.dayofweek # sacamos el día de la semana.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df2.head(2)

  Alma      Refer Clav  Canti     PVP  ...  Refer2  year month day day_of_week
0    1  6522204.0    6    1.0  173.93  ...  652220  2015     1  27           1
1    1  6522204.0    4    1.0  316.39  ...  652220  2015     1  27           1

[2 rows x 15 columns]

In [ ]:
# voy a quitar las internas. 
df2 = df2[df2["Tipo_venta"].str.startswith("5")!=True]
# voy a quitar las internas. 
df2 = df2[df2["Tipo_venta"].str.startswith("6")!=True]

In [ ]:
df2.shape

(1197530, 15)

In [ ]:
df2 = df2[df2["Famil"]=="AIB"]

In [ ]:
df2.shape

(61866, 15)

In [ ]:
df2.Tipo_venta.value_counts(normalize=True)

2A      0.469191
2V      0.303769
11LA    0.093945
11LV    0.091779
2RA     0.006482
4A      0.006417
12LA    0.005544
2L      0.004833
2RV     0.004235
7A      0.003152
12LV    0.002554
11LL    0.002554
7V      0.001891
4V      0.001794
12LL    0.000420
2RL     0.000323
DG      0.000307
2Q      0.000226
7LV     0.000162
4L      0.000145
7LA     0.000113
GD      0.000065
2P      0.000032
1A      0.000032
2VR     0.000032
Name: Tipo_venta, dtype: float64

In [ ]:
print("la fecha va desde {} a {}".format(df.Fech_cierre.min(), df.Fech_cierre.max()))

la fecha va desde 2015-01-04 00:00:00 a 2022-12-05 00:00:00

In [ ]:
df2.tail()

        Alma       Refer Clav  Canti  ...  year month day day_of_week
1521357    3  13773131.0    1    1.0  ...  2022    10   6           3
1521380    3  13772921.0    1    1.0  ...  2022     6  13           0
1521506    3  13838511.0    1    1.0  ...  2022     6  29           2
1521663    9  13695303.0    1   -1.0  ...  2022     2   6           6
1521664    9  13695304.0    1    1.0  ...  2022     2   6           6

[5 rows x 15 columns]

In [ ]:
df2.loc[(df2["year"] == "2022") | (df2["month"] == "10")]

Empty DataFrame
Columns: [Alma, Refer, Clav, Canti, PVP, Fech_cierre, Opera, Tipo_venta, Famil, Bastidor, Refer2, year, month, day, day_of_week]
Index: []

# NUEVO INTENTO

In [1]:
import pandas as pd

In [2]:
df_2015 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2015.csv", decimal=",")

In [3]:
df_2015.columns

Index(['Unnamed: 0', 'Alma', 'Cuenta', 'Refer.', 'Fec.sali', 'Artículo',
       'Clav', 'Denominacion', 'Canti', 'P.V.P.', 'Dto.', 'Neto', 'Costo',
       'Beneficio', '% Com', 'Comision', 'Fam.a', 'F.cierre', 'Tipo', 'Recep',
       'P.V.P..1', 'TOTAL PVP', 'Opera', 'Nombre', 'Tipo.1', 'Famil',
       'Bastidor'],
      dtype='object')

In [4]:
df_2015 = df_2015.rename(columns={"Refer.":"Refer", "Fec.sali": "Fech_Salida", "Artículo":"Articulo", "P.V.P.": "PVP", "Dto.":"Dto", "% Com":"COM", "Fam.a":"Famil_apr", "F.cierre":"Fech_cierre",
                        "P.V.P..1": "PVP1", "TOTAL PVP":"TOTAL_PVP","Tipo.1": "Tipo_venta" })

In [5]:
df_2015 = df_2015[~df_2015.Cuenta.isnull()]
df_2015 = df_2015[~df_2015.Fech_cierre.isnull()]
df_2015 = df_2015[~df_2015.Canti.isnull()]

In [6]:
# lo primero que voy a hacer es cambiar de tipo de datos. 
df_2015["Alma"] = df_2015["Alma"].apply(str)
df_2015["Cuenta"] = df_2015["Cuenta"].apply(str)
df_2015["Refer"] = df_2015["Refer"].apply(str)
df_2015["Fech_cierre"] = pd.to_datetime(df_2015["Fech_cierre"])
df_2015["Articulo"] = df_2015["Articulo"].apply(str)
df_2015["Clav"] = df_2015["Clav"].apply(str)
df_2015["Denominacion"] = df_2015["Denominacion"].apply(str)
df_2015["Canti"] = df_2015["Canti"].apply(float)
df_2015["PVP"] = df_2015["PVP"].apply(float)
df_2015["Dto"] = df_2015["Dto"].apply(float)
df_2015["Neto"] = df_2015["Neto"].apply(float)
df_2015["Costo"] = df_2015["Costo"].apply(float)
df_2015["Beneficio"] = df_2015["Beneficio"].apply(float)
df_2015["COM"] = df_2015["COM"].apply(float)
df_2015["Comision"] = df_2015["Comision"].apply(float)
df_2015["Famil_apr"] = df_2015["COM"].apply(str)
df_2015["Tipo"] = df_2015["Tipo"].apply(str)
df_2015["Recep"] = df_2015["Recep"].apply(str)
df_2015["PVP1"] = df_2015["PVP1"].apply(float)
df_2015["TOTAL_PVP"] = df_2015["TOTAL_PVP"].apply(float)
df_2015["Opera"] = df_2015["Opera"].apply(str)
df_2015["Nombre"] = df_2015["Nombre"].apply(str)
df_2015["Tipo_venta"] = df_2015["Tipo_venta"].apply(str)
df_2015["Famil"] = df_2015["Famil"].apply(str)
df_2015["Bastidor"] = df_2015["Bastidor"].apply(str)

In [7]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165140 entries, 0 to 166522
Data columns (total 27 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    165140 non-null  int64
 1   Alma          165140 non-null  object
 2   Cuenta        165140 non-null  object
 3   Refer         165140 non-null  object
 4   Fech_Salida   165140 non-null  object
 5   Articulo      165140 non-null  object
 6   Clav          165140 non-null  object
 7   Denominacion  165140 non-null  object
 8   Canti         165140 non-null  float64
 9   PVP           165140 non-null  float64
 10  Dto           81251 non-null   float64
 11  Neto          165140 non-null  float64
 12  Costo         165140 non-null  float64
 13  Beneficio     165140 non-null  float64
 14  COM           165140 non-null  float64
 15  Comision      165140 non-null  float64
 16  Famil_apr     165140 non-null  object
 17  Fech_cierre   165140 non-null  datetime64[ns]
 18  Tipo          165140 non-null  object
 19  Recep         165140 non-null  object
 20  PVP1          165140 non-null  float64
 21  TOTAL_PVP     165140 non-null  float64
 22  Opera         165140 non-null  object
 23  Nombre        165140 non-null  object
 24  Tipo_venta    165140 non-null  object
 25  Famil         165140 non-null  object
 26  Bastidor      165140 non-null  object
dtypes: datetime64[ns](1), float64(10), int64(1), object(15)
memory usage: 35.3+ MB

In [8]:
print("la fecha va desde {} a {}".format(df_2015.Fech_cierre.min(), df_2015.Fech_cierre.max()))

la fecha va desde 2015-01-04 00:00:00 a 2015-12-30 00:00:00

In [9]:
df_2015.shape

(165140, 27)

In [10]:
df_2016 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2016.csv", decimal=",")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
df_2016.columns

Index(['Unnamed: 0', 'Alma', 'Cuenta', 'Refer.', 'Fec.sali', 'Artículo',
       'Clav', 'Denominacion', 'Canti', 'P.V.P.', 'Dto.', 'Neto', 'Costo',
       'Beneficio', '% Com', 'Comision', 'Fam.a', 'F.cierre', 'Tipo', 'Recep',
       'P.V.P..1', 'TOTAL PVP', 'Opera', 'Nombre', 'Tipo.1', 'Famil',
       'Bastidor'],
      dtype='object')

In [12]:
df_2016 = df_2016.rename(columns={"Refer.":"Refer", "Fec.sali": "Fech_Salida", "Artículo":"Articulo", "P.V.P.": "PVP", "Dto.":"Dto", "% Com":"COM", "Fam.a":"Famil_apr", "F.cierre":"Fech_cierre",
                        "P.V.P..1": "PVP1", "TOTAL PVP":"TOTAL_PVP","Tipo.1": "Tipo_venta" })

In [13]:
df_2016 = df_2016[~df_2016.Cuenta.isnull()]
df_2016 = df_2016[~df_2016.Fech_cierre.isnull()]
df_2016 = df_2016[~df_2016.Canti.isnull()]

In [14]:
# lo primero que voy a hacer es cambiar de tipo de datos. 
df_2016["Alma"] = df_2016["Alma"].apply(str)
df_2016["Cuenta"] = df_2016["Cuenta"].apply(str)
df_2016["Refer"] = df_2016["Refer"].apply(str)
df_2016["Fech_cierre"] = pd.to_datetime(df_2016["Fech_cierre"])
df_2016["Articulo"] = df_2016["Articulo"].apply(str)
df_2016["Clav"] = df_2016["Clav"].apply(str)
df_2016["Denominacion"] = df_2016["Denominacion"].apply(str)
df_2016["Canti"] = df_2016["Canti"].apply(float)
df_2016["PVP"] = df_2016["PVP"].apply(float)
df_2016["Dto"] = df_2016["Dto"].apply(float)
df_2016["Neto"] = df_2016["Neto"].apply(float)
df_2016["Costo"] = df_2016["Costo"].apply(float)
df_2016["Beneficio"] = df_2016["Beneficio"].apply(float)
df_2016["COM"] = df_2016["COM"].apply(float)
df_2016["Comision"] = df_2016["Comision"].apply(float)
df_2016["Famil_apr"] = df_2016["COM"].apply(str)
df_2016["Tipo"] = df_2016["Tipo"].apply(str)
df_2016["Recep"] = df_2016["Recep"].apply(str)
df_2016["PVP1"] = df_2016["PVP1"].apply(float)
df_2016["TOTAL_PVP"] = df_2016["TOTAL_PVP"].apply(float)
df_2016["Opera"] = df_2016["Opera"].apply(str)
df_2016["Nombre"] = df_2016["Nombre"].apply(str)
df_2016["Tipo_venta"] = df_2016["Tipo_venta"].apply(str)
df_2016["Famil"] = df_2016["Famil"].apply(str)
df_2016["Bastidor"] = df_2016["Bastidor"].apply(str)

In [15]:
print("la fecha va desde {} a {}".format(df_2016.Fech_cierre.min(), df_2016.Fech_cierre.max()))

la fecha va desde 2016-01-02 00:00:00 a 2016-12-30 00:00:00

In [16]:
dataframes = [df_2015, df_2016]

In [17]:
total_2015_2016 = pd.concat(dataframes)

In [18]:
total_2015_2016.shape

(363329, 27)

In [19]:
print("la fecha va desde {} a {}".format(total_2015_2016.Fech_cierre.min(), total_2015_2016.Fech_cierre.max()))

la fecha va desde 2015-01-04 00:00:00 a 2016-12-30 00:00:00

In [20]:
total_2015_2016.isnull().sum()

Unnamed: 0           0
Alma                 0
Cuenta               0
Refer                0
Fech_Salida          2
Articulo             0
Clav                 0
Denominacion         0
Canti                0
PVP                  0
Dto             174829
Neto                 0
Costo                0
Beneficio            0
COM                  0
Comision             0
Famil_apr            0
Fech_cierre          0
Tipo                 0
Recep                0
PVP1                 0
TOTAL_PVP            0
Opera                0
Nombre               0
Tipo_venta           0
Famil                0
Bastidor             0
dtype: int64

In [21]:
total_2015_2016 = total_2015_2016[~total_2015_2016.Fech_cierre.isnull()]

In [22]:
total_2015_2016.isnull().sum()

Unnamed: 0           0
Alma                 0
Cuenta               0
Refer                0
Fech_Salida          2
Articulo             0
Clav                 0
Denominacion         0
Canti                0
PVP                  0
Dto             174829
Neto                 0
Costo                0
Beneficio            0
COM                  0
Comision             0
Famil_apr            0
Fech_cierre          0
Tipo                 0
Recep                0
PVP1                 0
TOTAL_PVP            0
Opera                0
Nombre               0
Tipo_venta           0
Famil                0
Bastidor             0
dtype: int64

In [23]:
total_2015_2016.shape

(363329, 27)

In [24]:
df_2017 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2017.csv", decimal=",")

In [25]:
df_2017 = df_2017.rename(columns={"Refer.":"Refer", "Fec.sali": "Fech_Salida", "Artículo":"Articulo", "P.V.P.": "PVP", "Dto.":"Dto", "% Com":"COM", "Fam.a":"Famil_apr", "F.cierre":"Fech_cierre",
                        "P.V.P..1": "PVP1", "TOTAL PVP":"TOTAL_PVP","Tipo.1": "Tipo_venta" })

In [26]:
df_2017.shape

(229351, 27)

In [27]:
df_2017 = df_2017[~df_2017.Cuenta.isnull()]
df_2017 = df_2017[~df_2017.Fech_cierre.isnull()]
df_2017 = df_2017[~df_2017.Canti.isnull()]

In [28]:
# lo primero que voy a hacer es cambiar de tipo de datos. 
df_2017["Alma"] = df_2017["Alma"].apply(str)
df_2017["Cuenta"] = df_2017["Cuenta"].apply(str)
df_2017["Refer"] = df_2017["Refer"].apply(str)
df_2017["Fech_cierre"] = pd.to_datetime(df_2017["Fech_cierre"])
df_2017["Articulo"] = df_2017["Articulo"].apply(str)
df_2017["Clav"] = df_2017["Clav"].apply(str)
df_2017["Denominacion"] = df_2017["Denominacion"].apply(str)
df_2017["Canti"] = df_2017["Canti"].apply(float)
df_2017["PVP"] = df_2017["PVP"].apply(float)
df_2017["Dto"] = df_2017["Dto"].apply(float)
df_2017["Neto"] = df_2017["Neto"].apply(float)
df_2017["Costo"] = df_2017["Costo"].apply(float)
df_2017["Beneficio"] = df_2017["Beneficio"].apply(float)
df_2017["COM"] = df_2017["COM"].apply(float)
df_2017["Comision"] = df_2017["Comision"].apply(float)
df_2017["Famil_apr"] = df_2017["COM"].apply(str)
df_2017["Tipo"] = df_2017["Tipo"].apply(str)
df_2017["Recep"] = df_2017["Recep"].apply(str)
df_2017["PVP1"] = df_2017["PVP1"].apply(float)
df_2017["TOTAL_PVP"] = df_2017["TOTAL_PVP"].apply(float)
df_2017["Opera"] = df_2017["Opera"].apply(str)
df_2017["Nombre"] = df_2017["Nombre"].apply(str)
df_2017["Tipo_venta"] = df_2017["Tipo_venta"].apply(str)
df_2017["Famil"] = df_2017["Famil"].apply(str)
df_2017["Bastidor"] = df_2017["Bastidor"].apply(str)

In [29]:
print("la fecha va desde {} a {}".format(df_2017.Fech_cierre.min(), df_2017.Fech_cierre.max()))

la fecha va desde 2017-01-02 00:00:00 a 2017-12-29 00:00:00

In [30]:
dataframes = [df_2015, df_2016, df_2017]

In [31]:
total_2015_2016_2017 = pd.concat(dataframes)

In [32]:
total_2015_2016_2017.shape

(590079, 27)

In [33]:
total_2015_2016_2017 = total_2015_2016_2017[~total_2015_2016_2017.Fech_cierre.isnull()]

In [34]:
total_2015_2016_2017.isnull().sum()

Unnamed: 0           0
Alma                 0
Cuenta               0
Refer                0
Fech_Salida          2
Articulo             0
Clav                 0
Denominacion         0
Canti                0
PVP                  0
Dto             273694
Neto                 0
Costo                0
Beneficio            0
COM                  0
Comision             0
Famil_apr            0
Fech_cierre          0
Tipo                 0
Recep                0
PVP1                 0
TOTAL_PVP            0
Opera                0
Nombre               0
Tipo_venta           0
Famil                0
Bastidor             0
dtype: int64

In [35]:
print("la fecha va desde {} a {}".format(total_2015_2016_2017.Fech_cierre.min(), total_2015_2016_2017.Fech_cierre.max()))

la fecha va desde 2015-01-04 00:00:00 a 2017-12-29 00:00:00

In [36]:
total_2015_2016_2017.shape

(590079, 27)

In [37]:
df_2018 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2018.csv", decimal=",")

In [38]:
df_2018.shape

(234023, 27)

In [39]:
df_2018 = df_2018.rename(columns={"Refer.":"Refer", "Fec.sali": "Fech_Salida", "Artículo":"Articulo", "P.V.P.": "PVP", "Dto.":"Dto", "% Com":"COM", "Fam.a":"Famil_apr", "F.cierre":"Fech_cierre",
                        "P.V.P..1": "PVP1", "TOTAL PVP":"TOTAL_PVP","Tipo.1": "Tipo_venta" })

In [40]:
df_2018 = df_2018[~df_2018.Cuenta.isnull()]
df_2018 = df_2018[~df_2018.Fech_cierre.isnull()]
df_2018 = df_2018[~df_2018.Canti.isnull()]

In [41]:
# lo primero que voy a hacer es cambiar de tipo de datos. 
df_2018["Alma"] = df_2018["Alma"].apply(str)
df_2018["Cuenta"] = df_2018["Cuenta"].apply(str)
df_2018["Refer"] = df_2018["Refer"].apply(str)
df_2018["Fech_cierre"] = pd.to_datetime(df_2018["Fech_cierre"])
df_2018["Articulo"] = df_2018["Articulo"].apply(str)
df_2018["Clav"] = df_2018["Clav"].apply(str)
df_2018["Denominacion"] = df_2018["Denominacion"].apply(str)
df_2018["Canti"] = df_2018["Canti"].apply(float)
df_2018["PVP"] = df_2018["PVP"].apply(float)
df_2018["Dto"] = df_2018["Dto"].apply(float)
df_2018["Neto"] = df_2018["Neto"].apply(float)
df_2018["Costo"] = df_2018["Costo"].apply(float)
df_2018["Beneficio"] = df_2018["Beneficio"].apply(float)
df_2018["COM"] = df_2018["COM"].apply(float)
df_2018["Comision"] = df_2018["Comision"].apply(float)
df_2018["Famil_apr"] = df_2018["COM"].apply(str)
df_2018["Tipo"] = df_2018["Tipo"].apply(str)
df_2018["Recep"] = df_2018["Recep"].apply(str)
df_2018["PVP1"] = df_2018["PVP1"].apply(float)
df_2018["TOTAL_PVP"] = df_2018["TOTAL_PVP"].apply(float)
df_2018["Opera"] = df_2018["Opera"].apply(str)
df_2018["Nombre"] = df_2018["Nombre"].apply(str)
df_2018["Tipo_venta"] = df_2018["Tipo_venta"].apply(str)
df_2018["Famil"] = df_2018["Famil"].apply(str)
df_2018["Bastidor"] = df_2018["Bastidor"].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [42]:
df_2018.isnull().sum()

Unnamed: 0          0
Alma                0
Cuenta              0
Refer               0
Fech_Salida         0
Articulo            0
Clav                0
Denominacion        0
Canti               0
PVP                 0
Dto             80003
Neto                0
Costo               0
Beneficio           0
COM                 0
Comision            0
Famil_apr           0
Fech_cierre         0
Tipo                0
Recep               0
PVP1                0
TOTAL_PVP           0
Opera               0
Nombre              0
Tipo_venta          0
Famil               0
Bastidor            0
dtype: int64

In [43]:
print("la fecha va desde {} a {}".format(df_2018.Fech_cierre.min(), df_2018.Fech_cierre.max()))

la fecha va desde 2018-01-02 00:00:00 a 2018-12-28 00:00:00

In [44]:
dataframes = [df_2015, df_2016, df_2017, df_2018]

In [45]:
total_2015_2016_2017_2018 = pd.concat(dataframes)

In [46]:
total_2015_2016_2017_2018.shape

(818583, 27)

In [47]:
total_2015_2016_2017_2018.isnull().sum()

Unnamed: 0           0
Alma                 0
Cuenta               0
Refer                0
Fech_Salida          2
Articulo             0
Clav                 0
Denominacion         0
Canti                0
PVP                  0
Dto             353697
Neto                 0
Costo                0
Beneficio            0
COM                  0
Comision             0
Famil_apr            0
Fech_cierre          0
Tipo                 0
Recep                0
PVP1                 0
TOTAL_PVP            0
Opera                0
Nombre               0
Tipo_venta           0
Famil                0
Bastidor             0
dtype: int64

In [48]:
df_2019 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2019.csv", decimal=",")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [49]:
df_2019.shape

(232806, 27)

In [50]:
df_2019 = df_2019.rename(columns={"Refer.":"Refer", "Fec.sali": "Fech_Salida", "Artículo":"Articulo", "P.V.P.": "PVP", "Dto.":"Dto", "% Com":"COM", "Fam.a":"Famil_apr", "F.cierre":"Fech_cierre",
                        "P.V.P..1": "PVP1", "TOTAL PVP":"TOTAL_PVP","Tipo.1": "Tipo_venta" })

In [51]:
df_2019 = df_2019[~df_2019.Cuenta.isnull()]
df_2019 = df_2019[~df_2019.Fech_cierre.isnull()]
df_2019 = df_2019[~df_2019.Canti.isnull()]

In [52]:
# lo primero que voy a hacer es cambiar de tipo de datos. 
df_2019["Alma"] = df_2019["Alma"].apply(str)
df_2019["Cuenta"] = df_2019["Cuenta"].apply(str)
df_2019["Refer"] = df_2019["Refer"].apply(str)
df_2019["Fech_cierre"] = pd.to_datetime(df_2019["Fech_cierre"])
df_2019["Articulo"] = df_2019["Articulo"].apply(str)
df_2019["Clav"] = df_2019["Clav"].apply(str)
df_2019["Denominacion"] = df_2019["Denominacion"].apply(str)
df_2019["Canti"] = df_2019["Canti"].apply(float)
df_2019["PVP"] = df_2019["PVP"].apply(float)
df_2019["Dto"] = df_2019["Dto"].apply(float)
df_2019["Neto"] = df_2019["Neto"].apply(float)
df_2019["Costo"] = df_2019["Costo"].apply(float)
df_2019["Beneficio"] = df_2019["Beneficio"].apply(float)
df_2019["COM"] = df_2019["COM"].apply(float)
df_2019["Comision"] = df_2019["Comision"].apply(float)
df_2019["Famil_apr"] = df_2019["COM"].apply(str)
df_2019["Tipo"] = df_2019["Tipo"].apply(str)
df_2019["Recep"] = df_2019["Recep"].apply(str)
df_2019["PVP1"] = df_2019["PVP1"].apply(float)
df_2019["TOTAL_PVP"] = df_2019["TOTAL_PVP"].apply(float)
df_2019["Opera"] = df_2019["Opera"].apply(str)
df_2019["Nombre"] = df_2019["Nombre"].apply(str)
df_2019["Tipo_venta"] = df_2019["Tipo_venta"].apply(str)
df_2019["Famil"] = df_2019["Famil"].apply(str)
df_2019["Bastidor"] = df_2019["Bastidor"].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [53]:
print("la fecha va desde {} a {}".format(df_2019.Fech_cierre.min(), df_2019.Fech_cierre.max()))

la fecha va desde 2019-01-02 00:00:00 a 2019-12-30 00:00:00

In [55]:
dataframes = [df_2015, df_2016, df_2017, df_2018, df_2019]

In [56]:
total_2015_2016_2017_2018_2019 = pd.concat(dataframes)

In [58]:
total_2015_2016_2017_2018_2019.shape

(1041797, 27)

In [59]:
print("la fecha va desde {} a {}".format(total_2015_2016_2017_2018_2019.Fech_cierre.min(), total_2015_2016_2017_2018_2019.Fech_cierre.max()))

la fecha va desde 2015-01-04 00:00:00 a 2019-12-30 00:00:00

In [60]:
total_2015_2016_2017_2018_2019.isnull().sum()

Unnamed: 0           0
Alma                 0
Cuenta               0
Refer                0
Fech_Salida          2
Articulo             0
Clav                 0
Denominacion         0
Canti                0
PVP                  0
Dto             424522
Neto                 0
Costo                0
Beneficio            0
COM                  0
Comision             0
Famil_apr            0
Fech_cierre          0
Tipo                 0
Recep                0
PVP1                 0
TOTAL_PVP            0
Opera                0
Nombre               0
Tipo_venta           0
Famil                0
Bastidor             0
dtype: int64

In [61]:
df_2020 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2020.csv", decimal=",")

In [62]:
df_2020.shape

(169121, 27)

In [63]:
df_2020 = df_2020.rename(columns={"Refer.":"Refer", "Fec.sali": "Fech_Salida", "Artículo":"Articulo", "P.V.P.": "PVP", "Dto.":"Dto", "% Com":"COM", "Fam.a":"Famil_apr", "F.cierre":"Fech_cierre",
                        "P.V.P..1": "PVP1", "TOTAL PVP":"TOTAL_PVP","Tipo.1": "Tipo_venta" })

In [64]:
df_2020 = df_2020[~df_2020.Cuenta.isnull()]
df_2020 = df_2020[~df_2020.Fech_cierre.isnull()]
df_2020 = df_2020[~df_2020.Canti.isnull()]

In [67]:
# lo primero que voy a hacer es cambiar de tipo de datos. 
df_2020["Alma"] = df_2020["Alma"].apply(str)
df_2020["Cuenta"] = df_2020["Cuenta"].apply(str)
df_2020["Refer"] = df_2020["Refer"].apply(str)
df_2020["Fech_cierre"] = pd.to_datetime(df_2020["Fech_cierre"])
df_2020["Articulo"] = df_2020["Articulo"].apply(str)
df_2020["Clav"] = df_2020["Clav"].apply(str)
df_2020["Denominacion"] = df_2020["Denominacion"].apply(str)
df_2020["Canti"] = df_2020["Canti"].apply(float)
df_2020["PVP"] = df_2020["PVP"].apply(float)
df_2020["Dto"] = df_2020["Dto"].apply(float)
df_2020["Neto"] = df_2020["Neto"].apply(float)
df_2020["Costo"] = df_2020["Costo"].apply(float)
df_2020["Beneficio"] = df_2020["Beneficio"].apply(float)
df_2020["COM"] = df_2020["COM"].apply(float)
df_2020["Comision"] = df_2020["Comision"].apply(float)
df_2020["Famil_apr"] = df_2020["COM"].apply(str)
df_2020["Tipo"] = df_2020["Tipo"].apply(str)
df_2020["Recep"] = df_2020["Recep"].apply(str)
df_2020["PVP1"] = df_2020["PVP1"].apply(float)
df_2020["TOTAL_PVP"] = df_2020["TOTAL_PVP"].apply(float)
df_2020["Opera"] = df_2020["Opera"].apply(str)
df_2020["Nombre"] = df_2020["Nombre"].apply(str)
df_2020["Tipo_venta"] = df_2020["Tipo_venta"].apply(str)
df_2020["Famil"] = df_2020["Famil"].apply(str)
df_2020["Bastidor"] = df_2020["Bastidor"].apply(str)

In [68]:
print("la fecha va desde {} a {}".format(df_2020.Fech_cierre.min(), df_2020.Fech_cierre.max()))

la fecha va desde 2020-01-02 00:00:00 a 2020-12-30 00:00:00

In [69]:
dataframes = [df_2015, df_2016, df_2017, df_2018, df_2019, df_2020]

In [70]:
total_2015_2016_2017_2018_2019_2020 = pd.concat(dataframes)

In [71]:
total_2015_2016_2017_2018_2019_2020.shape

(1205131, 27)

In [72]:
print("la fecha va desde {} a {}".format(total_2015_2016_2017_2018_2019_2020.Fech_cierre.min(), total_2015_2016_2017_2018_2019_2020.Fech_cierre.max()))

la fecha va desde 2015-01-04 00:00:00 a 2020-12-30 00:00:00

In [73]:
total_2015_2016_2017_2018_2019_2020.isnull().sum()

Unnamed: 0           0
Alma                 0
Cuenta               0
Refer                0
Fech_Salida          2
Articulo             0
Clav                 0
Denominacion         0
Canti                0
PVP                  0
Dto             475362
Neto                 0
Costo                0
Beneficio            0
COM                  0
Comision             0
Famil_apr            0
Fech_cierre          0
Tipo                 0
Recep                0
PVP1                 0
TOTAL_PVP            0
Opera                0
Nombre               0
Tipo_venta           0
Famil                0
Bastidor             0
dtype: int64

In [74]:
df_2021 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2021.csv", decimal=",")

In [75]:
df_2021.shape

(193820, 27)

In [78]:
df_2021 = df_2021.rename(columns={"Refer.":"Refer", "Fec.sali": "Fech_Salida", "Artículo":"Articulo", "P.V.P.": "PVP", "Dto.":"Dto", "% Com":"COM", "Fam.a":"Famil_apr", "F.cierre":"Fech_cierre",
                        "P.V.P..1": "PVP1", "TOTAL PVP":"TOTAL_PVP","Tipo.1": "Tipo_venta" })

In [79]:
df_2021 = df_2021[~df_2021.Cuenta.isnull()]
df_2021 = df_2021[~df_2021.Fech_cierre.isnull()]
df_2021 = df_2021[~df_2021.Canti.isnull()]

In [80]:
# lo primero que voy a hacer es cambiar de tipo de datos. 
df_2021["Alma"] = df_2021["Alma"].apply(str)
df_2021["Cuenta"] = df_2021["Cuenta"].apply(str)
df_2021["Refer"] = df_2021["Refer"].apply(str)
df_2021["Fech_cierre"] = pd.to_datetime(df_2021["Fech_cierre"])
df_2021["Articulo"] = df_2021["Articulo"].apply(str)
df_2021["Clav"] = df_2021["Clav"].apply(str)
df_2021["Denominacion"] = df_2021["Denominacion"].apply(str)
df_2021["Canti"] = df_2021["Canti"].apply(float)
df_2021["PVP"] = df_2021["PVP"].apply(float)
df_2021["Dto"] = df_2021["Dto"].apply(float)
df_2021["Neto"] = df_2021["Neto"].apply(float)
df_2021["Costo"] = df_2021["Costo"].apply(float)
df_2021["Beneficio"] = df_2021["Beneficio"].apply(float)
df_2021["COM"] = df_2021["COM"].apply(float)
df_2021["Comision"] = df_2021["Comision"].apply(float)
df_2021["Famil_apr"] = df_2021["COM"].apply(str)
df_2021["Tipo"] = df_2021["Tipo"].apply(str)
df_2021["Recep"] = df_2021["Recep"].apply(str)
df_2021["PVP1"] = df_2021["PVP1"].apply(float)
df_2021["TOTAL_PVP"] = df_2021["TOTAL_PVP"].apply(float)
df_2021["Opera"] = df_2021["Opera"].apply(str)
df_2021["Nombre"] = df_2021["Nombre"].apply(str)
df_2021["Tipo_venta"] = df_2021["Tipo_venta"].apply(str)
df_2021["Famil"] = df_2021["Famil"].apply(str)
df_2021["Bastidor"] = df_2021["Bastidor"].apply(str)

In [81]:
print("la fecha va desde {} a {}".format(df_2021.Fech_cierre.min(), df_2021.Fech_cierre.max()))

la fecha va desde 2021-01-02 00:00:00 a 2021-12-30 00:00:00

In [82]:
dataframes = [df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021]

In [83]:
total_2015_2016_2017_2018_2019_2020_2021 = pd.concat(dataframes)

In [84]:
total_2015_2016_2017_2018_2019_2020_2021.shape

(1392433, 27)

In [85]:
total_2015_2016_2017_2018_2019_2020_2021.isnull().sum()

Unnamed: 0           0
Alma                 0
Cuenta               0
Refer                0
Fech_Salida          4
Articulo             0
Clav                 0
Denominacion         0
Canti                0
PVP                  0
Dto             531685
Neto                 0
Costo                0
Beneficio            0
COM                  0
Comision             0
Famil_apr            0
Fech_cierre          0
Tipo                 0
Recep                0
PVP1                 0
TOTAL_PVP            0
Opera                0
Nombre               0
Tipo_venta           0
Famil                0
Bastidor             0
dtype: int64

In [134]:
total_2015_2016_2017_2018_2019_2020_2021.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_hasta_2021_final.csv")

# DEFINITIVO ARCHIVO DE RECAMBIOS

In [186]:
total_recambios_hasta_2021_final = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_hasta_2021_final.csv")
# abro el archivo que tengo guardado en google drive.

In [187]:
total_recambios_hasta_2021_final.shape # tengo dos columnas de más.

(1392433, 28)

In [188]:
total_recambios_hasta_2021_final.head()

,Unnamed: 0,Unnamed: 0.1,Alma,Cuenta,Refer,Fech_Salida,Articulo,Clav,Denominacion,Canti,...,Fech_cierre,Tipo,Recep,PVP1,TOTAL_PVP,Opera,Nombre,Tipo_venta,Famil,Bastidor
0,0,0,1,98253,6522204.0,27/01/15,11/5K0807109M,6,REFUERZO 10,1.0,...,2015-01-27,5V,85.0,214.00,214.0,1.0,MANUEL ESCUDERO GARCIA,7V,AL8,WVWZZZ1KZ9W487026
1,1,1,1,98253,6522204.0,27/01/15,11/5K0807217BLGRU,4,GUARNECID 10,1.0,...,2015-01-27,5V,85.0,401.00,401.0,1.0,MANUEL ESCUDERO GARCIA,7V,ALH,WVWZZZ1KZ9W487026
2,2,2,1,98253,6522204.0,27/01/15,11/5K0807571J,6,GUIA 10,1.0,...,2015-01-27,5V,85.0,45.40,45.4,1.0,MANUEL ESCUDERO GARCIA,7V,AL7,WVWZZZ1KZ9W487026
3,3,3,1,98253,6522204.0,27/01/15,11/5K0919491B,8,HALTER 10,2.0,...,2015-01-27,5V,85.0,11.15,22.3,1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026
4,4,4,1,98253,6522204.0,27/01/15,11/5K0919493G,8,HALTER 10,2.0,...,2015-01-27,5V,85.0,11.15,22.3,1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026

In [189]:
total_recambios_hasta_2021_final = total_recambios_hasta_2021_final.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
# me quito las dos columnas que no quiero.

In [165]:
total_recambios_hasta_2021_final.head(2)

,Alma,Cuenta,Refer,Fech_Salida,Articulo,Clav,Denominacion,Canti,PVP,Dto,...,Fech_cierre,Tipo,Recep,PVP1,TOTAL_PVP,Opera,Nombre,Tipo_venta,Famil,Bastidor
0,1,98253,6522204.0,27/01/15,11/5K0807109M,6,REFUERZO 10,1.0,173.93,10.0,...,2015-01-27,5V,85.0,214.0,214.0,1.0,MANUEL ESCUDERO GARCIA,7V,AL8,WVWZZZ1KZ9W487026
1,1,98253,6522204.0,27/01/15,11/5K0807217BLGRU,4,GUARNECID 10,1.0,316.39,10.0,...,2015-01-27,5V,85.0,401.0,401.0,1.0,MANUEL ESCUDERO GARCIA,7V,ALH,WVWZZZ1KZ9W487026

In [190]:
total_recambios_hasta_2021_final.shape

(1392433, 26)

In [191]:
# este lo importo del archivo que tengo en la carpeta local machine learning recambios. Cada mes tendré que ir incorporando uno. 
xlsx = pd.ExcelFile("/content/RECAMBIOS_2022.xlsx")
df_enero_2022 = pd.read_excel(xlsx, "ENERO2022")
df_febrero_2022 = pd.read_excel(xlsx, "FEBRERO2022")
df_marzo_2022 = pd.read_excel(xlsx, "MARZO2022")
df_abril_2022 = pd.read_excel(xlsx, "ABRIL2022")
df_mayo_2022 = pd.read_excel(xlsx, "MAYO2022")
df_junio_2022 = pd.read_excel(xlsx, "JUNIO2022")

In [192]:
dataframes = [df_enero_2022, df_febrero_2022, df_marzo_2022, df_abril_2022, df_mayo_2022, df_junio_2022]
# los uno

In [193]:
total_recambios_2022 = pd.concat(dataframes)
# los uno con concat

In [194]:
total_recambios_2022 = total_recambios_2022.rename(columns={"Refer.":"Refer", "Fec.sali": "Fech_Salida", "Artículo":"Articulo", "P.V.P.": "PVP", "Dto.":"Dto", "% Com":"COM", "Fam.a":"Famil_apr", "F.cierre":"Fech_cierre",
                        "P.V.P..1": "PVP1", "TOTAL PVP":"TOTAL_PVP","Tipo.1": "Tipo_venta" })
# les cambio el nombre

In [195]:
total_recambios_2022.columns

Index(['Alma', 'Cuenta', 'Refer', 'Fech_Salida', 'Articulo', 'Clav',
       'Denominacion', 'Canti', 'PVP', 'Dto', 'Neto', 'Costo', 'Beneficio',
       'COM', 'Comision', 'Famil_apr', 'Fech_cierre', 'Tipo', 'Recep',
       'P.V.P._1', 'TOTAL_PVP', 'Opera', 'Nombre', 'Tipo_2', 'Famil',
       'Bastidor'],
      dtype='object')

In [196]:
total_recambios_2022.shape

(92631, 26)

In [197]:
total_recambios_2022 = total_recambios_2022[~total_recambios_2022.Cuenta.isnull()]
total_recambios_2022 = total_recambios_2022[~total_recambios_2022.Fech_cierre.isnull()]
total_recambios_2022 = total_recambios_2022[~total_recambios_2022.Canti.isnull()]
# quito los nulos

In [198]:
total_recambios_2022.shape

(92586, 26)

In [199]:
# lo primero que voy a hacer es cambiar de tipo de datos. 
total_recambios_2022["Alma"] = total_recambios_2022["Alma"].apply(str)
total_recambios_2022["Cuenta"] = total_recambios_2022["Cuenta"].apply(str)
total_recambios_2022["Refer"] = total_recambios_2022["Refer"].apply(str)
total_recambios_2022["Fech_cierre"] = pd.to_datetime(total_recambios_2022["Fech_cierre"])
total_recambios_2022["Articulo"] = total_recambios_2022["Articulo"].apply(str)
total_recambios_2022["Clav"] = total_recambios_2022["Clav"].apply(str)
total_recambios_2022["Denominacion"] = total_recambios_2022["Denominacion"].apply(str)
total_recambios_2022["Canti"] = total_recambios_2022["Canti"].apply(float)
total_recambios_2022["PVP"] = total_recambios_2022["PVP"].apply(float)
total_recambios_2022["Dto"] = total_recambios_2022["Dto"].apply(float)
total_recambios_2022["Neto"] = total_recambios_2022["Neto"].apply(float)
total_recambios_2022["Costo"] = total_recambios_2022["Costo"].apply(float)
total_recambios_2022["Beneficio"] = total_recambios_2022["Beneficio"].apply(float)
total_recambios_2022["COM"] = total_recambios_2022["COM"].apply(float)
total_recambios_2022["Comision"] = total_recambios_2022["Comision"].apply(float)
total_recambios_2022["Famil_apr"] = total_recambios_2022["COM"].apply(str)
total_recambios_2022["Tipo"] = total_recambios_2022["Tipo"].apply(str)
total_recambios_2022["Recep"] = total_recambios_2022["Recep"].apply(str)
"""total_recambios_2022["PVP1"] = total_recambios_2022["PVP1"].apply(float)"""
total_recambios_2022["TOTAL_PVP"] = total_recambios_2022["TOTAL_PVP"].apply(float)
total_recambios_2022["Opera"] = total_recambios_2022["Opera"].apply(str)
total_recambios_2022["Nombre"] = total_recambios_2022["Nombre"].apply(str)
"""total_recambios_2022["Tipo_venta"] = total_recambios_2022["Tipo_venta"].apply(str)"""
total_recambios_2022["Famil"] = total_recambios_2022["Famil"].apply(str)
total_recambios_2022["Bastidor"] = total_recambios_2022["Bastidor"].apply(str)

In [200]:
total_recambios_hasta_2021_final.shape

(1392433, 26)

In [201]:
total_recambios_2022.head(2)

,Alma,Cuenta,Refer,Fech_Salida,Articulo,Clav,Denominacion,Canti,PVP,Dto,...,Fech_cierre,Tipo,Recep,P.V.P._1,TOTAL_PVP,Opera,Nombre,Tipo_2,Famil,Bastidor
0,1,98253,13425372,2022-01-31,99/MPC,0,MATERIAL DE PINTURA,12635.0,126.35,10.0,...,2022-01-31,5V,2230,0.01,126.35,666.0,ATIPICOS CHAPA RIVAS,7V,MP,WVWZZZ6RZHY079768
1,1,98253,13391781,2022-01-31,99/MPC,0,MATERIAL DE PINTURA,7118.0,71.18,10.0,...,2022-01-31,5V,2230,0.01,71.18,666.0,ATIPICOS CHAPA RIVAS,7V,MP,WVWZZZ7NZHV204914

In [202]:
print("la fecha va desde {} a {}".format(total_recambios_2022.Fech_cierre.min(), total_recambios_2022.Fech_cierre.max()))
# aqui estoy comprobando que las fechas estén bien.

la fecha va desde 2022-01-03 00:00:00 a 2022-06-30 00:00:00

In [203]:
total_recambios_2022.shape

(92586, 26)

In [204]:
total_recambios_2022.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2022_hasta_junio.csv")
# lo he guardado en drive

In [178]:
total_recambios_2022.columns

Index(['Alma', 'Cuenta', 'Refer', 'Fech_Salida', 'Articulo', 'Clav',
       'Denominacion', 'Canti', 'PVP', 'Dto', 'Neto', 'Costo', 'Beneficio',
       'COM', 'Comision', 'Famil_apr', 'Fech_cierre', 'Tipo', 'Recep',
       'P.V.P._1', 'TOTAL_PVP', 'Opera', 'Nombre', 'Tipo_2', 'Famil',
       'Bastidor'],
      dtype='object')

In [179]:
total_recambios_hasta_2021_final.columns

Index(['Alma', 'Cuenta', 'Refer', 'Fech_Salida', 'Articulo', 'Clav',
       'Denominacion', 'Canti', 'PVP', 'Dto', 'Neto', 'Costo', 'Beneficio',
       'COM', 'Comision', 'Famil_apr', 'Fech_cierre', 'Tipo', 'Recep', 'PVP1',
       'TOTAL_PVP', 'Opera', 'Nombre', 'Tipo_venta', 'Famil', 'Bastidor'],
      dtype='object')

In [182]:
dataframes = [total_recambios_hasta_2021_final, total_recambios_2022]
total_recambios_final_todos_anos = pd.concat(dataframes)
# los uno

In [184]:
total_recambios_final_todos_anos.shape
# me está dando dos columnas mas porque no he cambiado bien los nombres arriba.

(1485019, 28)

In [185]:
total_recambios_final_todos_anos.columns

Index(['Alma', 'Cuenta', 'Refer', 'Fech_Salida', 'Articulo', 'Clav',
       'Denominacion', 'Canti', 'PVP', 'Dto', 'Neto', 'Costo', 'Beneficio',
       'COM', 'Comision', 'Famil_apr', 'Fech_cierre', 'Tipo', 'Recep', 'PVP1',
       'TOTAL_PVP', 'Opera', 'Nombre', 'Tipo_venta', 'Famil', 'Bastidor',
       'P.V.P._1', 'Tipo_2'],
      dtype='object')

In [208]:
pd.options.display.max_columns = 0

In [209]:
total_recambios_final_todos_anos.head()

  Alma Cuenta      Refer Fech_Salida  ... Famil           Bastidor P.V.P._1  Tipo_2
0    1  98253  6522204.0    27/01/15  ...   AL8  WVWZZZ1KZ9W487026      NaN     NaN
1    1  98253  6522204.0    27/01/15  ...   ALH  WVWZZZ1KZ9W487026      NaN     NaN
2    1  98253  6522204.0    27/01/15  ...   AL7  WVWZZZ1KZ9W487026      NaN     NaN
3    1  98253  6522204.0    27/01/15  ...   ANW  WVWZZZ1KZ9W487026      NaN     NaN
4    1  98253  6522204.0    27/01/15  ...   ANW  WVWZZZ1KZ9W487026      NaN     NaN

[5 rows x 28 columns]

In [206]:
total_recambios_final_todos_anos.shape

(1485019, 28)

In [210]:
total_recambios_final_todos_anos.columns

Index(['Alma', 'Cuenta', 'Refer', 'Fech_Salida', 'Articulo', 'Clav',
       'Denominacion', 'Canti', 'PVP', 'Dto', 'Neto', 'Costo', 'Beneficio',
       'COM', 'Comision', 'Famil_apr', 'Fech_cierre', 'Tipo', 'Recep', 'PVP1',
       'TOTAL_PVP', 'Opera', 'Nombre', 'Tipo_venta', 'Famil', 'Bastidor',
       'P.V.P._1', 'Tipo_2'],
      dtype='object')

In [207]:
total_recambios_final_todos_anos.isnull().sum()

Alma                  0
Cuenta                0
Refer                 0
Fech_Salida           8
Articulo              0
Clav             105203
Denominacion          1
Canti                 0
PVP                   0
Dto              558180
Neto                  0
Costo                 0
Beneficio             0
COM                   0
Comision              0
Famil_apr             0
Fech_cierre           0
Tipo                  0
Recep                 0
PVP1              92586
TOTAL_PVP             0
Opera               310
Nombre              314
Tipo_venta        92586
Famil                14
Bastidor            137
P.V.P._1        1392433
Tipo_2          1392433
dtype: int64

In [211]:
total_recambios_final_todos_anos = total_recambios_final_todos_anos.drop(['P.V.P._1', 'Tipo_2'], axis=1)
# me quito las dos columnas de más.

In [212]:
total_recambios_final_todos_anos.shape

(1485019, 26)

In [214]:
# lo primero que voy a hacer es cambiar de tipo de datos. 
total_recambios_final_todos_anos["Alma"] = total_recambios_final_todos_anos["Alma"].apply(str)
total_recambios_final_todos_anos["Cuenta"] = total_recambios_final_todos_anos["Cuenta"].apply(str)
total_recambios_final_todos_anos["Refer"] = total_recambios_final_todos_anos["Refer"].apply(str)
total_recambios_final_todos_anos["Fech_cierre"] = pd.to_datetime(total_recambios_final_todos_anos["Fech_cierre"])
total_recambios_final_todos_anos["Articulo"] = total_recambios_final_todos_anos["Articulo"].apply(str)
total_recambios_final_todos_anos["Clav"] = total_recambios_final_todos_anos["Clav"].apply(str)
total_recambios_final_todos_anos["Denominacion"] = total_recambios_final_todos_anos["Denominacion"].apply(str)
total_recambios_final_todos_anos["Canti"] = total_recambios_final_todos_anos["Canti"].apply(float)
total_recambios_final_todos_anos["PVP"] = total_recambios_final_todos_anos["PVP"].apply(float)
total_recambios_final_todos_anos["Dto"] = total_recambios_final_todos_anos["Dto"].apply(float)
total_recambios_final_todos_anos["Neto"] = total_recambios_final_todos_anos["Neto"].apply(float)
total_recambios_final_todos_anos["Costo"] = total_recambios_final_todos_anos["Costo"].apply(float)
total_recambios_final_todos_anos["Beneficio"] = total_recambios_final_todos_anos["Beneficio"].apply(float)
total_recambios_final_todos_anos["COM"] = total_recambios_final_todos_anos["COM"].apply(float)
total_recambios_final_todos_anos["Comision"] = total_recambios_final_todos_anos["Comision"].apply(float)
total_recambios_final_todos_anos["Famil_apr"] = total_recambios_final_todos_anos["COM"].apply(str)
total_recambios_final_todos_anos["Tipo"] = total_recambios_final_todos_anos["Tipo"].apply(str)
total_recambios_final_todos_anos["Recep"] = total_recambios_final_todos_anos["Recep"].apply(str)
"""total_recambios_final_todos_anos["PVP1"] = total_recambios_final_todos_anos["PVP1"].apply(float)"""
total_recambios_final_todos_anos["TOTAL_PVP"] = total_recambios_final_todos_anos["TOTAL_PVP"].apply(float)
total_recambios_final_todos_anos["Opera"] = total_recambios_final_todos_anos["Opera"].apply(str)
total_recambios_final_todos_anos["Nombre"] = total_recambios_final_todos_anos["Nombre"].apply(str)
"""total_recambios_final_todos_anos["Tipo_venta"] = total_recambios_final_todos_anos["Tipo_venta"].apply(str)"""
total_recambios_final_todos_anos["Famil"] = total_recambios_final_todos_anos["Famil"].apply(str)
total_recambios_final_todos_anos["Bastidor"] = total_recambios_final_todos_anos["Bastidor"].apply(str)

In [216]:
total_recambios_final_todos_anos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1485019 entries, 0 to 14769
Data columns (total 26 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Alma          1485019 non-null  object
 1   Cuenta        1485019 non-null  object
 2   Refer         1485019 non-null  object
 3   Fech_Salida   1485011 non-null  object
 4   Articulo      1485019 non-null  object
 5   Clav          1485019 non-null  object
 6   Denominacion  1485019 non-null  object
 7   Canti         1485019 non-null  float64
 8   PVP           1485019 non-null  float64
 9   Dto           926839 non-null   float64
 10  Neto          1485019 non-null  float64
 11  Costo         1485019 non-null  float64
 12  Beneficio     1485019 non-null  float64
 13  COM           1485019 non-null  float64
 14  Comision      1485019 non-null  float64
 15  Famil_apr     1485019 non-null  object
 16  Fech_cierre   1485019 non-null  datetime64[ns]
 17  Tipo          1485019 non-null  object
 18  Recep         1485019 non-null  object
 19  PVP1          1392433 non-null  float64
 20  TOTAL_PVP     1485019 non-null  float64
 21  Opera         1485019 non-null  object
 22  Nombre        1485019 non-null  object
 23  Tipo_venta    1392433 non-null  object
 24  Famil         1485019 non-null  object
 25  Bastidor      1485019 non-null  object
dtypes: datetime64[ns](1), float64(10), object(15)
memory usage: 305.9+ MB

In [249]:
mis_columnas = ["Alma", "Refer", "Articulo", "Clav", "Canti", "PVP", "Fech_cierre", "Opera", "Tipo_venta", "Famil", "Bastidor", "Recep" ]
df = total_recambios_final_todos_anos[mis_columnas]

In [250]:
df.head(2)

  Alma      Refer           Articulo  ... Famil           Bastidor  Recep
0    1  6522204.0      11/5K0807109M  ...   AL8  WVWZZZ1KZ9W487026   85.0
1    1  6522204.0  11/5K0807217BLGRU  ...   ALH  WVWZZZ1KZ9W487026   85.0

[2 rows x 12 columns]

In [251]:
df["Orden_corta2"] = df.apply(lambda x: x["Refer"][:-3], axis=1)
df.head()

  Alma      Refer           Articulo  ...           Bastidor  Recep  Orden_corta2
0    1  6522204.0      11/5K0807109M  ...  WVWZZZ1KZ9W487026   85.0        652220
1    1  6522204.0  11/5K0807217BLGRU  ...  WVWZZZ1KZ9W487026   85.0        652220
2    1  6522204.0      11/5K0807571J  ...  WVWZZZ1KZ9W487026   85.0        652220
3    1  6522204.0      11/5K0919491B  ...  WVWZZZ1KZ9W487026   85.0        652220
4    1  6522204.0      11/5K0919493G  ...  WVWZZZ1KZ9W487026   85.0        652220

[5 rows x 13 columns]

In [252]:
print("la fecha va desde {} a {}".format(df.Fech_cierre.min(), df.Fech_cierre.max()))

la fecha va desde 2015-01-04 00:00:00 a 2022-06-30 00:00:00

# EMPEZAMOS A HACER EL ESTUDIO.

![image.png]()

In [253]:
# for data manipulation and analysis
import pandas as pd
import numpy as np

# for plotting
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
sns.set_style('darkgrid')

# Silhouette analysis
from sklearn.metrics import silhouette_score

# To perform KMeans clustering 
from sklearn.cluster import KMeans

# for scaling
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

In [254]:
pd.options.display.max_columns = 0

In [255]:
from shutil import copy
df1 = df.copy()

In [256]:
df1.head()

  Alma      Refer           Articulo  ...           Bastidor  Recep  Orden_corta2
0    1  6522204.0      11/5K0807109M  ...  WVWZZZ1KZ9W487026   85.0        652220
1    1  6522204.0  11/5K0807217BLGRU  ...  WVWZZZ1KZ9W487026   85.0        652220
2    1  6522204.0      11/5K0807571J  ...  WVWZZZ1KZ9W487026   85.0        652220
3    1  6522204.0      11/5K0919491B  ...  WVWZZZ1KZ9W487026   85.0        652220
4    1  6522204.0      11/5K0919493G  ...  WVWZZZ1KZ9W487026   85.0        652220

[5 rows x 13 columns]

In [257]:
df1["Taller"] = df1.Alma.replace({"1": "2", "2": "3", "3": "6", "5": "1", "9": "8", "10": "8"})

In [259]:
df1.head()

  Alma      Refer           Articulo  ... Recep  Orden_corta2  Taller
0    1  6522204.0      11/5K0807109M  ...  85.0        652220       2
1    1  6522204.0  11/5K0807217BLGRU  ...  85.0        652220       2
2    1  6522204.0      11/5K0807571J  ...  85.0        652220       2
3    1  6522204.0      11/5K0919491B  ...  85.0        652220       2
4    1  6522204.0      11/5K0919493G  ...  85.0        652220       2

[5 rows x 14 columns]

In [234]:
df1 = df1[(df1["Fech_cierre"]>="2015-01-01") & (df1["Fech_cierre"]<="2021-12-31")]

In [235]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1392433 entries, 0 to 1392432
Data columns (total 12 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Alma          1392433 non-null  object
 1   Refer         1392433 non-null  object
 2   Clav          1392433 non-null  object
 3   Canti         1392433 non-null  float64
 4   PVP           1392433 non-null  float64
 5   Fech_cierre   1392433 non-null  datetime64[ns]
 6   Opera         1392433 non-null  object
 7   Tipo_venta    1392433 non-null  object
 8   Famil         1392433 non-null  object
 9   Bastidor      1392433 non-null  object
 10  Recep         1392433 non-null  object
 11  Orden_corta2  1392433 non-null  object
dtypes: datetime64[ns](1), float64(2), object(9)
memory usage: 138.1+ MB