<a href="https://colab.research.google.com/github/pacomm5/PLANTILLAS2/blob/main/RECAMBIOS_NUEVO_LISTADO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
enero2015 = pd.read_csv("/content/201501.TXT", sep=",", encoding= "ISO-8859-1")

In [ ]:
enero2015.head()

,Alma,Cuenta,Refer.,Fec.sali,Artículo,Clav,Denominacion,Canti,P.V.P.,Dto.,...,F.cierre,Tipo,Recep,P.V.P..1,TOTAL PVP,Opera,Nombre,Tipo.1,Famil,Bastidor
0,1,98253,6522204.0,27/01/15,11/5K0807109M,6,REFUERZO 10,1,"173,93","10,00",...,27/01/15,5V,85.0,"214,00","214,00",1.0,MANUEL ESCUDERO GARCIA,7V,AL8,WVWZZZ1KZ9W487026
1,1,98253,6522204.0,27/01/15,11/5K0807217BLGRU,4,GUARNECID 10,1,"316,39","10,00",...,27/01/15,5V,85.0,"401,00","401,00",1.0,MANUEL ESCUDERO GARCIA,7V,ALH,WVWZZZ1KZ9W487026
2,1,98253,6522204.0,27/01/15,11/5K0807571J,6,GUIA 10,1,"31,75","10,00",...,27/01/15,5V,85.0,"45,40","45,40",1.0,MANUEL ESCUDERO GARCIA,7V,AL7,WVWZZZ1KZ9W487026
3,1,98253,6522204.0,27/01/15,11/5K0919491B,8,HALTER 10,2,"13,60","10,00",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026
4,1,98253,6522204.0,27/01/15,11/5K0919493G,8,HALTER 10,2,"13,60","10,00",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026

In [ ]:
enero2015.shape

(12463, 26)

In [ ]:
enero2015 = enero2015[~enero2015.Cuenta.isnull()]

In [ ]:
enero2015.isnull().sum()

Alma               0
Cuenta             0
Refer.             0
Fec.sali           0
Artículo           0
Clav             972
Denominacion       0
Canti              0
P.V.P.             0
Dto.            6506
Neto               0
Costo              0
Beneficio          0
% Com              0
Comision           0
Fam.a            720
F.cierre           0
Tipo               0
Recep              0
P.V.P..1           0
TOTAL PVP          0
Opera              0
Nombre             0
Tipo.1             0
Famil              3
Bastidor           0
dtype: int64

In [ ]:
febrero2015 = pd.read_csv("/content/201502.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
febrero2015.shape

(13526, 26)

In [ ]:
febrero2015 = febrero2015[~febrero2015.Cuenta.isnull()]

In [ ]:
febrero2015.isnull().sum()

Alma               0
Cuenta             0
Refer.             0
Fec.sali           0
Artículo           0
Clav            1036
Denominacion       0
Canti              0
P.V.P.             0
Dto.            6979
Neto               0
Costo              0
Beneficio          0
% Com              0
Comision           0
Fam.a            724
F.cierre           0
Tipo               0
Recep              0
P.V.P..1           0
TOTAL PVP          0
Opera              1
Nombre             1
Tipo.1             0
Famil              0
Bastidor           0
dtype: int64

In [ ]:
febrero2015.shape

(13415, 26)

In [ ]:
dataframes = [enero2015, febrero2015]
resultado = pd.concat(dataframes)

In [ ]:
resultado.head()

,Alma,Cuenta,Refer.,Fec.sali,Artículo,Clav,Denominacion,Canti,P.V.P.,Dto.,...,F.cierre,Tipo,Recep,P.V.P..1,TOTAL PVP,Opera,Nombre,Tipo.1,Famil,Bastidor
0,1,98253,6522204.0,27/01/15,11/5K0807109M,6,REFUERZO 10,1,"173,93","10,00",...,27/01/15,5V,85.0,"214,00","214,00",1.0,MANUEL ESCUDERO GARCIA,7V,AL8,WVWZZZ1KZ9W487026
1,1,98253,6522204.0,27/01/15,11/5K0807217BLGRU,4,GUARNECID 10,1,"316,39","10,00",...,27/01/15,5V,85.0,"401,00","401,00",1.0,MANUEL ESCUDERO GARCIA,7V,ALH,WVWZZZ1KZ9W487026
2,1,98253,6522204.0,27/01/15,11/5K0807571J,6,GUIA 10,1,"31,75","10,00",...,27/01/15,5V,85.0,"45,40","45,40",1.0,MANUEL ESCUDERO GARCIA,7V,AL7,WVWZZZ1KZ9W487026
3,1,98253,6522204.0,27/01/15,11/5K0919491B,8,HALTER 10,2,"13,60","10,00",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026
4,1,98253,6522204.0,27/01/15,11/5K0919493G,8,HALTER 10,2,"13,60","10,00",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026

In [ ]:
resultado.shape

(25767, 26)

In [ ]:
enero2015 = pd.read_csv("/content/201501.TXT", sep=",", encoding= "ISO-8859-1")
febrero2015 = pd.read_csv("/content/201502.txt", sep=",", encoding= "ISO-8859-1")
marzo2015 = pd.read_csv("/content/201503.txt", sep=",", encoding= "ISO-8859-1")
abril2015 = pd.read_csv("/content/201504.txt", sep=",", encoding= "ISO-8859-1")
mayo2015 = pd.read_csv("/content/201505.txt", sep=",", encoding= "ISO-8859-1")
junio2015 = pd.read_csv("/content/201506.txt", sep=",", encoding= "ISO-8859-1")
julio2015 = pd.read_csv("/content/201507.txt", sep=",", encoding= "ISO-8859-1")
agosto2015 = pd.read_csv("/content/201508.txt", sep=",", encoding= "ISO-8859-1")
septiembre2015 = pd.read_csv("/content/201509.txt", sep=",", encoding= "ISO-8859-1")
octubre2015 = pd.read_csv("/content/201510.txt", sep=",", encoding= "ISO-8859-1")
noviembre2015 = pd.read_csv("/content/201511.txt", sep=",", encoding= "ISO-8859-1")
diciembre2015 = pd.read_csv("/content/201512.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
dataframes = [enero2015, febrero2015, marzo2015, abril2015, mayo2015, junio2015, julio2015, agosto2015, septiembre2015, octubre2015, noviembre2015,diciembre2015]
total_2015 = pd.concat(dataframes)

In [ ]:
total_2015.shape

(166528, 26)

In [ ]:
total_2015.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2015.csv")

In [ ]:
prueba = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2015.csv")

In [ ]:
prueba.head()

,Unnamed: 0,Alma,Cuenta,Refer.,Fec.sali,Artículo,Clav,Denominacion,Canti,P.V.P.,...,F.cierre,Tipo,Recep,P.V.P..1,TOTAL PVP,Opera,Nombre,Tipo.1,Famil,Bastidor
0,0,1,98253,6522204.0,27/01/15,11/5K0807109M,6,REFUERZO 10,1,"173,93",...,27/01/15,5V,85.0,"214,00","214,00",1.0,MANUEL ESCUDERO GARCIA,7V,AL8,WVWZZZ1KZ9W487026
1,1,1,98253,6522204.0,27/01/15,11/5K0807217BLGRU,4,GUARNECID 10,1,"316,39",...,27/01/15,5V,85.0,"401,00","401,00",1.0,MANUEL ESCUDERO GARCIA,7V,ALH,WVWZZZ1KZ9W487026
2,2,1,98253,6522204.0,27/01/15,11/5K0807571J,6,GUIA 10,1,"31,75",...,27/01/15,5V,85.0,"45,40","45,40",1.0,MANUEL ESCUDERO GARCIA,7V,AL7,WVWZZZ1KZ9W487026
3,3,1,98253,6522204.0,27/01/15,11/5K0919491B,8,HALTER 10,2,"13,60",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026
4,4,1,98253,6522204.0,27/01/15,11/5K0919493G,8,HALTER 10,2,"13,60",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026

In [ ]:
prueba.shape

(166528, 27)

In [ ]:
enero2016 = pd.read_csv("/201601.txt", sep=",", encoding= "ISO-8859-1")
febrero2016 = pd.read_csv("/201602.txt", sep=",", encoding= "ISO-8859-1")
marzo2016 = pd.read_csv("/201603.txt", sep=",", encoding= "ISO-8859-1")
abril2016 = pd.read_csv("/201604.txt", sep=",", encoding= "ISO-8859-1")
mayo2016 = pd.read_csv("/201605.txt", sep=",", encoding= "ISO-8859-1")
junio2016 = pd.read_csv("/201606.txt", sep=",", encoding= "ISO-8859-1")
julio2016 = pd.read_csv("/201607.txt", sep=",", encoding= "ISO-8859-1")
agosto2016 = pd.read_csv("/201608.txt", sep=",", encoding= "ISO-8859-1")
septiembre2016 = pd.read_csv("/201609.txt", sep=",", encoding= "ISO-8859-1")
octubre2016 = pd.read_csv("/201610.txt", sep=",", encoding= "ISO-8859-1")
noviembre2016 = pd.read_csv("/201611.txt", sep=",", encoding= "ISO-8859-1")
diciembre2016 = pd.read_csv("/201612.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
dataframes = [enero2016, febrero2016, marzo2016, abril2016, mayo2016, junio2016, julio2016, agosto2016, septiembre2016, octubre2016, noviembre2016,diciembre2016]
total_2016 = pd.concat(dataframes)

In [ ]:
total_2016.shape

(199835, 26)

In [ ]:
total_2016.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2016.csv")

In [ ]:
prueba = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2016.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
prueba.head()

,Unnamed: 0,Alma,Cuenta,Refer.,Fec.sali,Artículo,Clav,Denominacion,Canti,P.V.P.,...,F.cierre,Tipo,Recep,P.V.P..1,TOTAL PVP,Opera,Nombre,Tipo.1,Famil,Bastidor
0,0,1,116W,8469522.0,29/01/16,11/000010006,8,ROTULO EXP,1,"0,07",...,29/01/16,8V,85.0,"0,15","0,15",NaN,NaN,4V,ADW,WVWZZZ3CZFE438441
1,1,1,2004,8355551.0,11/12/15,99/000003,15,SACAR COD,NaN,"0,00",...,05/01/16,5V,85.0,"12,92","0,00",1.0,MANUEL ESCUDERO GARCIA,7V,VO,WVWZZZ6RZFY033277
2,2,1,77828,8353954.0,12/01/16,11/G,NaN,02E305051C - CARTUCH,1,"21,82",...,26/01/16,6V,9.0,"0,00","0,00",1.0,MANUEL ESCUDERO GARCIA,2V,G,WVWZZZ3CZ7P090459
3,3,1,77828,8353954.0,12/01/16,11/G,NaN,02E315141A - TAPA,1,"28,24",...,26/01/16,6V,9.0,"0,00","0,00",1.0,MANUEL ESCUDERO GARCIA,2V,G,WVWZZZ3CZ7P090459
4,4,1,77828,8353954.0,12/01/16,11/G,NaN,02E321371E - JUNTA,1,"10,42",...,26/01/16,6V,9.0,"0,00","0,00",1.0,MANUEL ESCUDERO GARCIA,2V,G,WVWZZZ3CZ7P090459

In [ ]:
dataframes = [total_2015,total_2016]
total_2015_2016 = pd.concat(dataframes)

In [ ]:
total_2015_2016.shape

(366363, 26)

In [ ]:
enero2017 = pd.read_csv("/content/201701.txt", sep=",", encoding= "ISO-8859-1")
febrero2017 = pd.read_csv("/content/201702.txt", sep=",", encoding= "ISO-8859-1")
marzo2017 = pd.read_csv("/content/201703.txt", sep=",", encoding= "ISO-8859-1")
abril2017 = pd.read_csv("/content/201704.txt", sep=",", encoding= "ISO-8859-1")
mayo2017 = pd.read_csv("/content/201705.txt", sep=",", encoding= "ISO-8859-1")
junio2017 = pd.read_csv("/content/201706.txt", sep=",", encoding= "ISO-8859-1")
julio2017 = pd.read_csv("/content/201707.txt", sep=",", encoding= "ISO-8859-1")
agosto2017 = pd.read_csv("/content/201708.txt", sep=",", encoding= "ISO-8859-1")
septiembre2017 = pd.read_csv("/content/201709.txt", sep=",", encoding= "ISO-8859-1")
octubre2017 = pd.read_csv("/content/201710.txt", sep=",", encoding= "ISO-8859-1")
noviembre2017 = pd.read_csv("/content/201711.txt", sep=",", encoding= "ISO-8859-1")
diciembre2017 = pd.read_csv("/content/201712.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
dataframes = [enero2017, febrero2017, marzo2017, abril2017, mayo2017, junio2017, julio2017, agosto2017, septiembre2017, octubre2017, noviembre2017,diciembre2017]

In [ ]:
total_2017 = pd.concat(dataframes)

In [ ]:
total_2017.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2017.csv")

In [ ]:
enero2018 = pd.read_csv("/content/201801.txt", sep=",", encoding= "ISO-8859-1")
febrero2018 = pd.read_csv("/content/201802.txt", sep=",", encoding= "ISO-8859-1")
marzo2018 = pd.read_csv("/content/201803.txt", sep=",", encoding= "ISO-8859-1")
abril2018 = pd.read_csv("/content/201804.txt", sep=",", encoding= "ISO-8859-1")
mayo2018 = pd.read_csv("/content/201805.txt", sep=",", encoding= "ISO-8859-1")
junio2018 = pd.read_csv("/content/201806.txt", sep=",", encoding= "ISO-8859-1")
julio2018 = pd.read_csv("/content/201807.txt", sep=",", encoding= "ISO-8859-1")
agosto2018 = pd.read_csv("/content/201808.txt", sep=",", encoding= "ISO-8859-1")
septiembre2018 = pd.read_csv("/content/201809.txt", sep=",", encoding= "ISO-8859-1")
octubre2018 = pd.read_csv("/content/201810.txt", sep=",", encoding= "ISO-8859-1")
noviembre2018 = pd.read_csv("/content/201811.txt", sep=",", encoding= "ISO-8859-1")
diciembre2018 = pd.read_csv("/content/201812.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
dataframes = [enero2018, febrero2018, marzo2018, abril2018, mayo2018, junio2018, julio2018, agosto2018, septiembre2018, octubre2018, noviembre2018,diciembre2018]

In [ ]:
total_2018 = pd.concat(dataframes)

In [ ]:
total_2018.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2018.csv")

In [ ]:
enero2019 = pd.read_csv("/content/201901.txt", sep=",", encoding= "ISO-8859-1")
febrero2019 = pd.read_csv("/content/201902.txt", sep=",", encoding= "ISO-8859-1")
marzo2019 = pd.read_csv("/content/201903.txt", sep=",", encoding= "ISO-8859-1")
abril2019 = pd.read_csv("/content/201904.txt", sep=",", encoding= "ISO-8859-1")
mayo2019 = pd.read_csv("/content/201905.txt", sep=",", encoding= "ISO-8859-1")
junio2019 = pd.read_csv("/content/201906.txt", sep=",", encoding= "ISO-8859-1")
julio2019 = pd.read_csv("/content/201907.txt", sep=",", encoding= "ISO-8859-1")
agosto2019 = pd.read_csv("/content/201908.txt", sep=",", encoding= "ISO-8859-1")
septiembre2019 = pd.read_csv("/content/201909.txt", sep=",", encoding= "ISO-8859-1")
octubre2019 = pd.read_csv("/content/201910.txt", sep=",", encoding= "ISO-8859-1")
noviembre2019 = pd.read_csv("/content/201911.txt", sep=",", encoding= "ISO-8859-1")
diciembre2019 = pd.read_csv("/content/201912.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
dataframes = [enero2019, febrero2019, marzo2019, abril2019, mayo2019, junio2019, julio2019, agosto2019, septiembre2019, octubre2019, noviembre2019,diciembre2019]

In [ ]:
total_2019 = pd.concat(dataframes)

In [ ]:
total_2019.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2019.csv")

In [ ]:
enero2020 = pd.read_csv("/content/202001.txt", sep=",", encoding= "ISO-8859-1")
febrero2020 = pd.read_csv("/content/202002.txt", sep=",", encoding= "ISO-8859-1")
marzo2020 = pd.read_csv("/content/202003.txt", sep=",", encoding= "ISO-8859-1")
abril2020 = pd.read_csv("/content/202004.txt", sep=",", encoding= "ISO-8859-1")
mayo2020 = pd.read_csv("/content/202005.txt", sep=",", encoding= "ISO-8859-1")
junio2020 = pd.read_csv("/content/202006.txt", sep=",", encoding= "ISO-8859-1")
julio2020 = pd.read_csv("/content/202007.txt", sep=",", encoding= "ISO-8859-1")
agosto2020 = pd.read_csv("/content/202008.txt", sep=",", encoding= "ISO-8859-1")
septiembre2020 = pd.read_csv("/content/202009.txt", sep=",", encoding= "ISO-8859-1")
octubre2020 = pd.read_csv("/content/202010.txt", sep=",", encoding= "ISO-8859-1")
noviembre2020 = pd.read_csv("/content/202011.txt", sep=",", encoding= "ISO-8859-1")
diciembre2020 = pd.read_csv("/content/202012.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
dataframes = [enero2020, febrero2020, marzo2020, abril2020, mayo2020, junio2020, julio2020, agosto2020, septiembre2020, octubre2020, noviembre2020,diciembre2020]

In [ ]:
total_2020 = pd.concat(dataframes)

In [ ]:
total_2020.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2020.csv")

In [ ]:
enero2021 = pd.read_csv("/content/202101.txt", sep=",", encoding= "ISO-8859-1")
febrero2021 = pd.read_csv("/content/202102.txt", sep=",", encoding= "ISO-8859-1")
marzo2021 = pd.read_csv("/content/202103.txt", sep=",", encoding= "ISO-8859-1")
abril2021 = pd.read_csv("/content/202104.txt", sep=",", encoding= "ISO-8859-1")
mayo2021 = pd.read_csv("/content/202105.txt", sep=",", encoding= "ISO-8859-1")
junio2021 = pd.read_csv("/content/202106.txt", sep=",", encoding= "ISO-8859-1")
julio2021 = pd.read_csv("/content/202107.txt", sep=",", encoding= "ISO-8859-1")
agosto2021 = pd.read_csv("/content/202108.txt", sep=",", encoding= "ISO-8859-1")
septiembre2021 = pd.read_csv("/content/202109.txt", sep=",", encoding= "ISO-8859-1")
octubre2021 = pd.read_csv("/content/202110.txt", sep=",", encoding= "ISO-8859-1")
noviembre2021 = pd.read_csv("/content/202111.txt", sep=",", encoding= "ISO-8859-1")
diciembre2021 = pd.read_csv("/content/202112.txt", sep=",", encoding= "ISO-8859-1")

In [ ]:
dataframes = [enero2021, febrero2021, marzo2021, abril2021, mayo2021, junio2021, julio2021, agosto2021, septiembre2021, octubre2021, noviembre2021,diciembre2021]

In [ ]:
total_2021 = pd.concat(dataframes)

In [ ]:
total_2021.to_csv("/content/drive/MyDrive/Colab Notebooks/total_recambios_2021.csv")