<a href="https://colab.research.google.com/github/pacomm5/PLANTILLAS2/blob/main/RECAMBIOS_NUEVO_LISTADO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd

In [30]:
enero2015 = pd.read_csv("/content/201501.TXT", sep=",", encoding= "ISO-8859-1")

In [31]:
enero2015.head()

,Alma,Cuenta,Refer.,Fec.sali,Artículo,Clav,Denominacion,Canti,P.V.P.,Dto.,...,F.cierre,Tipo,Recep,P.V.P..1,TOTAL PVP,Opera,Nombre,Tipo.1,Famil,Bastidor
0,1,98253,6522204.0,27/01/15,11/5K0807109M,6,REFUERZO 10,1,"173,93","10,00",...,27/01/15,5V,85.0,"214,00","214,00",1.0,MANUEL ESCUDERO GARCIA,7V,AL8,WVWZZZ1KZ9W487026
1,1,98253,6522204.0,27/01/15,11/5K0807217BLGRU,4,GUARNECID 10,1,"316,39","10,00",...,27/01/15,5V,85.0,"401,00","401,00",1.0,MANUEL ESCUDERO GARCIA,7V,ALH,WVWZZZ1KZ9W487026
2,1,98253,6522204.0,27/01/15,11/5K0807571J,6,GUIA 10,1,"31,75","10,00",...,27/01/15,5V,85.0,"45,40","45,40",1.0,MANUEL ESCUDERO GARCIA,7V,AL7,WVWZZZ1KZ9W487026
3,1,98253,6522204.0,27/01/15,11/5K0919491B,8,HALTER 10,2,"13,60","10,00",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026
4,1,98253,6522204.0,27/01/15,11/5K0919493G,8,HALTER 10,2,"13,60","10,00",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026

In [32]:
enero2015.shape

(12463, 26)

In [33]:
enero2015 = enero2015[~enero2015.Cuenta.isnull()]

In [34]:
enero2015.isnull().sum()

Alma               0
Cuenta             0
Refer.             0
Fec.sali           0
Artículo           0
Clav             972
Denominacion       0
Canti              0
P.V.P.             0
Dto.            6506
Neto               0
Costo              0
Beneficio          0
% Com              0
Comision           0
Fam.a            720
F.cierre           0
Tipo               0
Recep              0
P.V.P..1           0
TOTAL PVP          0
Opera              0
Nombre             0
Tipo.1             0
Famil              3
Bastidor           0
dtype: int64

In [35]:
febrero2015 = pd.read_csv("/content/201502.txt", sep=",", encoding= "ISO-8859-1")

In [36]:
febrero2015.shape

(13526, 26)

In [37]:
febrero2015 = febrero2015[~febrero2015.Cuenta.isnull()]

In [38]:
febrero2015.isnull().sum()

Alma               0
Cuenta             0
Refer.             0
Fec.sali           0
Artículo           0
Clav            1036
Denominacion       0
Canti              0
P.V.P.             0
Dto.            6979
Neto               0
Costo              0
Beneficio          0
% Com              0
Comision           0
Fam.a            724
F.cierre           0
Tipo               0
Recep              0
P.V.P..1           0
TOTAL PVP          0
Opera              1
Nombre             1
Tipo.1             0
Famil              0
Bastidor           0
dtype: int64

In [39]:
febrero2015.shape

(13415, 26)

In [40]:
dataframes = [enero2015, febrero2015]
resultado = pd.concat(dataframes)

In [41]:
resultado.head()

,Alma,Cuenta,Refer.,Fec.sali,Artículo,Clav,Denominacion,Canti,P.V.P.,Dto.,...,F.cierre,Tipo,Recep,P.V.P..1,TOTAL PVP,Opera,Nombre,Tipo.1,Famil,Bastidor
0,1,98253,6522204.0,27/01/15,11/5K0807109M,6,REFUERZO 10,1,"173,93","10,00",...,27/01/15,5V,85.0,"214,00","214,00",1.0,MANUEL ESCUDERO GARCIA,7V,AL8,WVWZZZ1KZ9W487026
1,1,98253,6522204.0,27/01/15,11/5K0807217BLGRU,4,GUARNECID 10,1,"316,39","10,00",...,27/01/15,5V,85.0,"401,00","401,00",1.0,MANUEL ESCUDERO GARCIA,7V,ALH,WVWZZZ1KZ9W487026
2,1,98253,6522204.0,27/01/15,11/5K0807571J,6,GUIA 10,1,"31,75","10,00",...,27/01/15,5V,85.0,"45,40","45,40",1.0,MANUEL ESCUDERO GARCIA,7V,AL7,WVWZZZ1KZ9W487026
3,1,98253,6522204.0,27/01/15,11/5K0919491B,8,HALTER 10,2,"13,60","10,00",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026
4,1,98253,6522204.0,27/01/15,11/5K0919493G,8,HALTER 10,2,"13,60","10,00",...,27/01/15,5V,85.0,"11,15","22,30",1.0,MANUEL ESCUDERO GARCIA,7V,ANW,WVWZZZ1KZ9W487026

In [42]:
resultado.shape

(25767, 26)