<a href="https://colab.research.google.com/github/pacomm5/PLANTILLAS2/blob/main/U382_FECHA_APERTURA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

- esto abriendo una consulta dentro de un excel.
- lo he subido a colab y luego lo he abierto. 
- tengo que poner el nombre de la pesta√±a. 
- ojo tarda un poco en subir el archivo a colab. un archivo de 34mb ha tardado 1 minuto y 30 segundos.

In [ ]:
xlsx = pd.ExcelFile("/content/U382 IMPORTADO.xlsx")
df = pd.read_excel(xlsx, "U382_IMPORTADO" )

In [ ]:
df.head()

,Tall,Referencia,Fecha Fa,Fec.aper,Cta.car,Nombre cliente,Cta.tit,Nombre titular,Recamb.,Tiem.fac,Total.MO,Modelo,Recep,Matricula,Bastidor,Tipo O.R.,F.matric,F.ultima,Km,Tlf. movil
0,1,9475471,2017-03-16,2017-03-15,144648,FTC DEQUER ENGINE SL,144648.0,FTC DEQUER ENGINE SL,0.00,0.84,67.20,A6 C6 3.0,294.0,61831.0,WAUZZZ4F16N089635,2A O.R.CLIENT MEC AUDI,NaT,2017-03-15,224507.0,NaN
1,6,7823171,2015-02-10,2015-02-10,131646,MOHAMED GOUGRID,131646.0,MOHAMED GOUGRID,42.66,0.50,38.50,AUDI Q5 AD,56.0,74816.0,WAUZZZ8R4DA068593,2A O.R.CLIENT MEC AUDI,2013-07-27,2015-02-10,60851.0,622092094.0
2,2,9610441,2017-05-11,2017-05-10,116W,ORDENES DE REPARACION G,104249.0,PEIRO SOLER LEANDRO,3.13,0.60,38.00,PASSAT EDI,295.0,108957.0,WVWZZZ3CZAP045669,4V GARANTIA MECAN VW,NaT,2017-05-10,34867.0,606632182.0
3,2,8017152,2015-05-25,2015-05-21,NaN,ORDENES DE REPARACION G,2291.0,VOLKSWAGEN RENTING SA,24.12,0.50,31.66,PASSAT EDI,50.0,119461.0,WVWZZZ3CZBP327511,4V GARANTIA MECAN VW,NaT,2015-05-21,60157.0,NaN
4,2,8017151,2015-05-25,2015-05-21,2291,VOLKSWAGEN RENTING SA,2291.0,VOLKSWAGEN RENTING SA,161.85,1.60,105.12,PASSAT EDI,50.0,119461.0,WVWZZZ3CZBP327511,2V O.R.CLIENT MEC VW,NaT,2015-05-21,60157.0,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288997 entries, 0 to 288996
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Tall            288997 non-null  int64
 1   Referencia      288997 non-null  int64
 2   Fecha Fa        271951 non-null  datetime64[ns]
 3   Fec.aper        288997 non-null  datetime64[ns]
 4   Cta.car         284041 non-null  object
 5   Nombre cliente  288997 non-null  object
 6   Cta.tit         288969 non-null  float64
 7   Nombre titular  288970 non-null  object
 8   Recamb.         288997 non-null  float64
 9   Tiem.fac        288997 non-null  float64
 10  Total.MO        288996 non-null  float64
 11  Modelo          287735 non-null  object
 12  Recep           288996 non-null  float64
 13  Matricula       11557 non-null   float64
 14  Bastidor        288961 non-null  object
 15  Tipo O.R.       288997 non-null  object
 16  F.matric        269630 non-null  datetime64[ns]
 17  F.ultima        288970 non-null  datetime64[ns]
 18  Km              288996 non-null  float64
 19  Tlf. movil      162199 non-null  float64
dtypes: datetime64[ns](4), float64(8), int64(2), object(6)
memory usage: 44.1+ MB

In [ ]:
df.describe()

,Tall,Referencia,Cta.tit,Recamb.,Tiem.fac,Total.MO,Recep,Matricula,Km,Tlf. movil
count,288997.000000,2.889970e+05,288969.000000,288997.000000,288997.000000,288996.000000,288996.000000,11557.000000,288996.000000,1.621990e+05
mean,4.140337,1.074702e+07,91498.017569,202.581844,2.973039,155.237035,257.867081,246238.026045,74235.977135,4.441847e+10
std,2.689238,1.723828e+06,62139.314200,598.384908,10.675302,523.882121,411.862201,19552.815292,77109.949506,8.565984e+12
min,1.000000,3.532301e+06,0.000000,-24066.210000,-798.120000,-32419.720000,3.000000,0.000000,-20000.000000,-3.465005e+10
25%,2.000000,9.281891e+06,18918.000000,0.000000,0.410000,27.620000,52.000000,233228.000000,21019.750000,6.397908e+08
50%,3.000000,1.079044e+07,114285.000000,58.950000,1.700000,99.840000,99.000000,249536.000000,54818.000000,9.011012e+08
75%,6.000000,1.224011e+07,139534.000000,215.870000,3.310000,190.082500,294.000000,262812.000000,108098.500000,3.464661e+10
max,10.000000,1.377125e+07,960102.000000,32716.440000,768.640000,31222.210000,2230.000000,274653.000000,999140.000000,3.400492e+15

In [ ]:
df.isnull().sum()

Tall                   0
Referencia             0
Fecha Fa           17046
Fec.aper               0
Cta.car             4956
Nombre cliente         0
Cta.tit               28
Nombre titular        27
Recamb.                0
Tiem.fac               0
Total.MO               1
Modelo              1262
Recep                  1
Matricula         277440
Bastidor              36
Tipo O.R.              0
F.matric           19367
F.ultima              27
Km                     1
Tlf. movil        126798
dtype: int64